@inject IStationService stationService
@inject IWIMScaleService wimService
@inject IConfigurationService configurationService
@inject IClassStatusService classStatusService
@inject IAppState appState
@inject AuthenticationStateProvider authStateProvider
@inject IStationAccessService stationAccessService
@inject IStringLocalizer<Locales.Reports> localizer
@inject IStringLocalizer<Locales.Resource> localizerResources

@using BOL.CustomModels
@using Syncfusion.Blazor.Calendars
@rendermode InteractiveServer

@if (appState is null)
{
    return;
}

@if (selectionEnabled && reportParameters is not null && configuration is not null)
{
    <div class="row">
        @if (stations is not null)
        {
            string strIconAll = "fa-square";
            string strColorAll = "btn-primary";
            if (stations.Where(s => stationAccess.Contains(s.StationId))?.Count() == selectedStations?.Count())
            {
                strIconAll = "fa-check-square";
                strColorAll = "btn-success";
            }
            else if (selectedStations?.Count() == 0)
            {
                strColorAll = "btn-danger";
            }
            <div class="btn-group-vertical col-md-12" role="group">

                @for (int i = -1; i < stations.Where(s => stationAccess.Contains(s.StationId)).Count();)
                {
                    <div class="btn-group">
                        @for (int j = 0; j < 6; j++)
                        {
                            if (i >= stations.Where(s => stationAccess.Contains(s.StationId)).Count())
                            {
                                break;
                            }
                            if (i == -1)
                            {
                                <span class="btn @strColorAll col-md-2 text-left" @onclick="@(() => AllStationClicked())" title="Select/Unselect All ALCS">
                                    <i class="fas @strIconAll"></i><span class="ms-2">&nbsp;All</span>
                                </span>
                            }
                            else
                            {
                                var filteredStations = stations.Where(s => stationAccess.Contains(s.StationId)).OrderBy(s => s.StationName);
                                Station item = filteredStations.ElementAt(i);
                                string strIcon = "fa-square";
                                string btnClass = "btn-danger";
                                @if (selectedStations is not null && selectedStations.Any(s => s.StationId == item.StationId))
                                {
                                    strIcon = "fa-check-square";
                                    btnClass = "btn-success";
                                }
                                <span class="btn @btnClass col-md-2 text-left" @onclick="@(() => StationClicked(item))">
                                    <i class="fas @strIcon"></i><span class="ms-2">&nbsp; @item.StationName</span>
                                </span>
                            }

                            i++;
                        }
                    </div>
                }
            </div>
        }
        else
        {
            <Loader />
        }

        <div class="col-md-6">
            <label>@localizer["Report.DateRange"]</label>
            <SfDateRangePicker TValue="DateTime?" StartDate="@reportParameters.DateStart" EndDate="@reportParameters.DateEnd" Format="dd MMM yy" Min="@configuration.SystemStartDate" Max="DateTime.Now">
                <DateRangePickerEvents TValue="DateTime?" ValueChange="@OnDateRangeChanged"></DateRangePickerEvents>
            </SfDateRangePicker>
        </div>
        <div class="col-md-6">
            <label>@localizer["Report.WimScale"]</label>
            @if (selectedWIMScales is not null && wims is not null)
            {
                <select class="form-control" @bind="@selectedWIMScales" multiple>
                    @* <option value="0">-Select WIM-</option> *@
                    @foreach (WIMScale item in wims)
                    {
                        <option value="@item.Id">@item.LaneNumber - @item.LaneDirection :@(item.IsUpbound ? "(Upbound)" : "(Downbound)")</option>
                    }
                </select>
            }
            else
            {
                <span class="form-control">Not available</span>
            }
        </div>

        <div class="col-md-3">
            @{
                string selectedAxle = "No Filter";
                if (reportParameters.NumberOfAxle > 0)
                {
                    selectedAxle = reportParameters.NumberOfAxle + " Axle";
                }
            }
            <label for="NumberOfAxle">@localizer["Report.NumberofAxle"] <span class="badge bg-primary">[@selectedAxle]</span></label>
            @* <select class="form-control" @bind="@reportParameters.NumberOfAxle">
        <option value="0">-No Filter-</option>
        @for (int i = 2; i <= MaxNoOfAxle; i++)
        {
        <option value="@i">@i Axle</option>
        }
        </select> *@
            <input type="range" id="NumberOfAxle" min="0" max="@configuration.NumberOfAxle" class="form-control slider slider-primary" @bind="@reportParameters.NumberOfAxle" @bind:event="oninput">
        </div>

        <div class="col-md-3">
            <label>@localizer["Report.ClassStatus"]</label>
            <select class="form-control" @bind="@reportParameters.ClassStatus">
                <option value="0">-No Filter-</option>
                @foreach (ClassStatus status in ListClassStatus)
                {
                    <option value="@status.Id">@status.Name</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <label for="wheelBase">@localizer["Report.WheelBase"]</label>
            <input type="number" @bind="@reportParameters.Wheelbase" class="form-control" placeholder="Wheel Base" id="wheelBase" min="0" max="@configuration.WheelBaseMaximum" />
        </div>
        <div class="col-md-3">
            <label class="form-label">&nbsp;</label>
            <div class="form-check">
                <div class="icheck-primary d-inline">
                    <input type="checkbox" @bind="reportParameters.IsOverloaded" id="chkIsOverloaded" />
                    <label for="chkIsOverloaded"></label>
                </div>
                <label class="form-check-label" for="chkIsOverloaded">@localizer["Report.Overload"]</label>
            </div>
        </div>

        <div class="col-md-3">
            <label>@localizer["Report.FilterByWeight"]</label>
            <select class="form-control" @bind="@reportParameters.WeightFilterColumn">
                <option value="">-No Filter-</option>
                <option value="GrossVehicleWeight">Gross Vehicle Weight</option>
                <option value="Axle1">Axle 1</option>
                <option value="Axle2">Axle 2</option>
                <option value="Axle3">Axle 3</option>
                <option value="Axle4">Axle 4</option>
                <option value="Axle5">Axle 5</option>
                <option value="Axle6">Axle 6</option>
                <option value="Axle7">Axle 7</option>
                <option value="AxleRemaining">Remaining</option>
            </select>
        </div>
        @if (!string.IsNullOrEmpty(reportParameters.WeightFilterColumn))
        {
            <div class="col-md-3">
                <div class="form-group">
                    <label for="WeightMin">@localizer["Report.WeightMin"]</label>
                    <input type="number" @bind="@reportParameters.WeightMin" class="form-control" placeholder="Weight Minimum" id="WeightMin" min="0" max="@(reportParameters.WeightMax-1)" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="WeightMax">@localizer["Report.WeightMax"]</label>
                    <input type="number" @bind="@reportParameters.WeightMax" class="form-control" placeholder="Weight Maximum" id="WeightMax" min="@(reportParameters.WeightMin+1)" />
                </div>
            </div>
        }

        <div class="col align-self-end">
            <div class="form-group float-right align-bottom">
                <label class="form-label">&nbsp;</label>
                <div class="btn-group">
                    @if (selectedStations is not null && selectedStations.Any())
                    {
                        <button class="btn btn-primary" @onclick="SelectionComplete">@localizerResources["Button.SaveSelection"]</button>
                    }
                    <button class="btn btn-primary" @onclick="SelectionCancel">@localizerResources["Button.Cancel"]</button>
                </div>
            </div>
        </div>
        @*  <div class="col-md-3">
    <label class="form-label">&nbsp;</label>
    <div class="form-check">
    <div class="icheck-primary d-inline">
    <input type="checkbox" @bind="reportParameters.CheckWeightCalculation" id="CheckWeightCalculation" />
    <label for="CheckWeightCalculation"></label>
    </div>
    <label class="form-check-label" for="CheckWeightCalculation">Check Weight Calculation?</label>
    </div>
    </div> *@
    </div>
}
else
{
    <div class="row" @onclick="EnableChange" title="Click to change selection" style="cursor:pointer;">
        @if (reportParameters.Stations is null || reportParameters.Stations.Count() == 0)
        {
            <span class="text text-danger">No ALCS is selected</span>
        }
        else
        {
            <div class="col-md-12">
                <label>@reportParameters.Stations?.Count() station(s) selected: </label>
                @foreach (Station item in stations.Where(s => reportParameters.Stations.Contains(s.StationId)).ToList().OrderBy(s => s.StationName))
                {
                    <span class="badge bg-success"> @item.StationName</span>
                }
                @if (reportParameters.WIMScales is not null && reportParameters.WIMScales.Count() > 0)
                {
                    <label>
                        , WIM Scale:
                        @if (reportParameters.WIMScales.Any(w => w.IsUpbound))
                        {
                            <span class="badge bg-success">
                                Upbound: Lane No- @string.Join(", ", reportParameters.WIMScales.Where(w => w.IsUpbound).Select(w => w.LaneNumber))
                            </span>
                        }

                        @if (reportParameters.WIMScales.Any(w => !w.IsUpbound))
                        {
                            <span class="badge bg-success">
                                Downbound: Lane No- @string.Join(", ", reportParameters.WIMScales.Where(w => !w.IsUpbound).Select(w => w.LaneNumber))
                            </span>
                        }
                    </label>

                }
            </div>
            <div class="col-md-6">
                <label>Date: <span class="badge bg-success">@reportParameters.DateStart.ToString("dd MMM yy, dddd")</span> to <span class="badge bg-success">@reportParameters.DateEnd.ToString("dd MMM yy, dddd")</span></label>
            </div>
            @if (reportParameters.NumberOfAxle > 0)
            {
                <div class="col-md-3">
                    <label>Axle <span class="badge bg-success">@reportParameters.NumberOfAxle</span></label>
                </div>
            }
            @if (reportParameters.ClassStatus > 0)
            {
                string name = ListClassStatus.Where(l => l.Id == reportParameters.ClassStatus).FirstOrDefault().Name.ToString();
                <div class="col-md-3">
                    <label>, Class Status:<span class="badge bg-success">@name</span></label>
                </div>
            }
            @if (reportParameters.IsOverloaded)
            {
                <div class="col-md-3">
                    <label>, <span class="badge bg-success">Overloaded only</span></label>
                </div>
            }
            @if (reportParameters.Wheelbase > 0)
            {
                <div class="col-md-3">
                    <label>Wheelbase: <span class="badge bg-success">@reportParameters.Wheelbase</span></label>
                </div>
            }
            @if (!string.IsNullOrEmpty(reportParameters.WeightFilterColumn))
            {
                string message = "";

                @if (reportParameters.WeightMin > 0)
                {
                    message += "Min: " + reportParameters.WeightMin.ToString("N0");
                }
                @if (reportParameters.WeightMax > 0)
                {
                    message += (string.IsNullOrEmpty(message) ? "" : " - ") + "Max: " + reportParameters.WeightMax.ToString("N0");
                }
                message = System.Text.RegularExpressions.Regex.Replace(reportParameters.WeightFilterColumn, "(\\B[A-Z0-9])", " $1", System.Text.RegularExpressions.RegexOptions.Compiled).Trim()
                + " (" + message + ")";

                <div class="col-md-3">
                    <label>Weight: <span class="badge bg-success">@message</span></label>
                </div>
            }

            @if (reportParameters.CheckWeightCalculation)
            {
                <div class="col-md-3">
                    <label>, <span class="badge bg-success">Check Weight Calculation</span> selected.</label>
                </div>
            }
            <div class="col align-self-end">
                <div class="form-group float-right align-bottom">
                    <label class="form-label">&nbsp;</label>
                    <button class="btn btn-primary float-right" @onclick="EnableChange">@localizerResources["Button.ChangeSelection"]</button>
                </div>
            </div>
        }
    </div>
    @* @if (selectedStations is not null)
    {
        <div class="row">
            <div class="col-md-6 btn-group">
                <span class="btn @(selectedType == "Daily" ? "btn-danger" : "btn-primary")" @onclick="@(() => TypeChanged("Daily"))">Daily</span>
                <span class="btn @(selectedType == "Weekly" ? "btn-danger" : "btn-primary")" @onclick="@(() => TypeChanged("Weekly"))">Weekly</span>
                <span class="btn @(selectedType == "Monthly" ? "btn-danger" : "btn-primary")" @onclick="@(() => TypeChanged("Monthly"))">Monthly</span>
            </div>
        </div>
    } *@
}

@code {
    [Parameter]
    public EventCallback<bool> OnParametersChanged { get; set; }

    private IEnumerable<Station>? stations;
    private List<Station>? selectedStations;
    private int[] selectedWIMScales { get; set; } = new int[100];
    private IEnumerable<ClassStatus> ListClassStatus { get; set; }
    private IEnumerable<WIMScale>? wims;
    private bool selectionEnabled { get; set; } = false;
    private int wimId { get; set; } = 0;
    private string selectedType { get; set; } = "Daily";
    public Configuration configuration { get; set; }
    private int i { get; set; } = 0;
    private ReportParameters reportParameters { get; set; } = new();
    private (DateTime? StartDate, DateTime? EndDate)? selectedDateRange;
    private List<int> stationAccess { get; set; } = new();
    private User currentUser { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        stations = await stationService.Get();
        selectedStations = stations.Where(s => reportParameters.Stations.Contains(s.StationId)).ToList();
        ListClassStatus = await classStatusService.GetClassStatusList();
        configuration = await configurationService.GetConfiguration();

        reportParameters = await appState.GetReportParameters();
        if (reportParameters.WIMScales is not null)
        {
            foreach (WIMScale item in reportParameters.WIMScales)
            {
                selectedWIMScales[i] = item.Id;
                i++;
            }
        }
        var customStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        currentUser = await customStateProvider.GetAuthorizedUser();
        stationAccess = await stationAccessService.GetStationAccessByUserId(currentUser.Id);
        stations = stations.Where(s => stationAccess.Contains(s.StationId));
    }

    private async Task AllStationClicked()
    {
        if (stations?.Count() == selectedStations?.Count())
        {
            selectedStations = new();
        }
        else
        {
            selectedStations = new();
            selectedStations.AddRange(stations);
        }
    }
    private async Task StationClicked(Station item)
    {
        if (selectedStations is null)
        {
            selectedStations = new();
        }
        if (selectedStations.Any(s => s.StationId == item.StationId))
        {
            selectedStations.Remove(selectedStations.FirstOrDefault(s => s.StationId == item.StationId));
        }
        else
        {
            selectedStations.Add(item);
        }

        if (selectedStations.Count() == 1)
        {
            wims = await wimService.GetByStation(new WIMScale() { StationId = selectedStations.FirstOrDefault().StationId });
            if (wims is not null && wims.Count() == 1)
            {
                selectedWIMScales[i] = wims.FirstOrDefault().Id;
            }
        }
        else
        {
            wims = null;
            reportParameters.WIMScales = new();
        }
    }
    private async Task OnDateRangeChanged(RangePickerEventArgs<DateTime?> args)
    {
        reportParameters.DateStart = args.StartDate ?? DateTime.Now;
        reportParameters.DateEnd = args.EndDate ?? DateTime.Now;
    }
    private async Task EnableChange()
    {
        reportParameters = await appState.GetReportParameters();
        selectedStations = stations.Where(s => reportParameters.Stations.Contains(s.StationId)).ToList();
        selectionEnabled = true;
        await OnParametersChanged.InvokeAsync(selectionEnabled);
    }
    private async Task SelectionComplete()
    {
        if (selectedStations?.Count() == 0)
        {
            appState.SetNotification(this, "Select ALCS", Notification.NotificationType.Warning);
            return;
        }
        if (reportParameters.Wheelbase > configuration.WheelBaseMaximum)
        {
            appState.SetNotification(this, "Maximum Wheelbase Number " + configuration.WheelBaseMaximum, Notification.NotificationType.Warning);
            return;
        }
        reportParameters.Stations = new();
        reportParameters.WIMScales = new();
        if (wims is not null && wims.Any(w => selectedWIMScales.Contains(w.Id)))
        {
            var matchingWIMScales = wims.Where(w => selectedWIMScales.Contains(w.Id)).ToList();

            if (matchingWIMScales is not null)
            {
                reportParameters.WIMScales.AddRange(matchingWIMScales);
            }
        }

        if (selectedStations is not null && selectedStations.Any())
        {
            reportParameters.Stations = selectedStations.Select(s => s.StationId).ToList();
        }
        
        await appState.SetReportParameters(reportParameters);
        selectionEnabled = false;
        await OnParametersChanged.InvokeAsync(selectionEnabled);
    }
    private async Task SelectionCancel()
    {
        selectionEnabled = false;
        reportParameters = await appState.GetReportParameters();
        await OnParametersChanged.InvokeAsync(selectionEnabled);
    }
    private void TypeChanged(string type)
    {
        selectedType = type;
    }
}
