@using System
@using BOL
@inject AuthenticationStateProvider authStateProvider
@inject IUserActivityService userActivityService
@inject ICategoryService CategoryService
@inject IStringLocalizer<Locales.Resource> localizerResource
@inject IStringLocalizer<Locales.CommonPages> localizer

@* <PageTitleComponent Title="@localizer["Tutorial.Category"]"></PageTitleComponent>
 *@
@if (Category is null)
{
    <Loader/>
}
else
{
    <EditForm Model="@Category" OnValidSubmit=@OnValidSubmit OnInvalidSubmit="@OnInvalidSubmit">
        <DataAnnotationsValidator />
        <div class="card card-primary card-outline">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="name" class="form-label">@localizer["Category.Name"]</label>
                                <label class="form-control">@Category.Name</label>
                            }
                            else
                            {
                                <label for="name" class="form-label">@localizer["Category.Name"]</label>
                                <input type="text" @bind="Category.Name" required class="form-control" placeholder="Tutorial Category" id="name" />
                                <ValidationMessage For="() => Category.Name" />
                            }
                        </div>
                    </div>
                    <div class="col align-self-end">
                        <div class="form-group float-left align-bottom">
                            <label class="form-label">&nbsp;</label>
                            <button class="btn btn-primary" type="submit">
                                @(Mode == FormMode.Add ? @localizerResource["Button.Save"] : @localizerResource["Button.Update"])
                            </button>
                        </div>
                    </div>
                </div>

                @if (!string.IsNullOrEmpty(ValidationSummary))
                {
                    <label class="error">@ValidationSummary</label>
                }
            </div>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public TutorialCategory Category { get; set; } = new();
    [Parameter]
    public FormMode Mode { get; set; } = FormMode.Details;
    [Parameter]
    public EventCallback<bool> OnParametersChanged { get; set; }
    private User currentUser { get; set; }
    private IEnumerable<TutorialCategory>? CategoryList;
    private bool isSuccess { get; set; }
    string ValidationSummary;

    protected override async Task OnInitializedAsync()
    {
        var customStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        currentUser = await customStateProvider.GetAuthorizedUser();
        CategoryList = await CategoryService.GetCategoryList();
    }

    void OnInvalidSubmit()
    {
        ValidationSummary = "Please enter valid data";
    }
    async Task OnValidSubmit(EditContext editContext)
    {
        ValidationSummary = "";

        if (Mode == FormMode.Edit)
        {
            await CategoryService.UpdateCategory(Category);
            ValidationSummary = "Tutorial Category Updated Successfully";
            isSuccess = true;
            await userActivityService.InsertUserActivity(new UserActivity { UserId = currentUser.Id, DateTime = DateTime.Now, Description = Category.Name + " " + ValidationSummary, Activity = LogActivity.Update});
        }
        else
        {
            isSuccess = await CategoryService.InsertCategory(Category);
            if (isSuccess)
            {
                ValidationSummary = "New Tutorial Category added";
                await userActivityService.InsertUserActivity(new UserActivity { UserId = currentUser.Id, DateTime = DateTime.Now, Description = Category.Name + " " + ValidationSummary, Activity = LogActivity.Insert});
            }
            else
            {
                ValidationSummary = "New Tutorial Category added failed";
            }
        }
        await OnParametersChanged.InvokeAsync(isSuccess);
    }
}
