@page "/overloaded"
@using BOL.Helpers
@using Microsoft.Playwright
@using Services
@using Services.Helpers
@using Syncfusion.Blazor
@using Syncfusion.PdfExport;
@using Syncfusion.Blazor.Charts
@using System.Globalization
@inject IAxleLoadService loadService
@inject NavigationManager NavigationManager
@inject IAppState appState
@inject IJSRuntime jsRuntime

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Overloaded Report</h3>
    </div>
    <div class="card-body">
        <ReportSelection OnParametersChanged="HandleParametersChanged" />
    </div>
    @if (!selectionEnabled)
    {
        <div class="card-footer">
            @if (appState is not null && showReportGroupSelection)
            {
                <div class="row">
                    <div class="col-md-12 btn-group">
                        <button class="btn @(selectedType == "Daily" ? "btn-danger" : "btn-primary")" @onclick="@(() => TypeChanged("Daily"))" disabled="@(isLoading ? "disabled" : null)">Hourly</button>
                        <button class="btn @(selectedType == "Weekly" ? "btn-danger" : "btn-primary")" @onclick="@(() => TypeChanged("Weekly"))" disabled="@(isLoading ? "disabled" : null)">Weekdays</button>
                        <button class="btn @(selectedType == "Monthly" ? "btn-danger" : "btn-primary")" @onclick="@(() => TypeChanged("Monthly"))" disabled="@(isLoading ? "disabled" : null)">Monthly</button>
                        <button class="btn @(selectedType == "Yearly" ? "btn-danger" : "btn-primary")" @onclick="@(() => TypeChanged("Yearly"))" disabled="@(isLoading ? "disabled" : null)">Annual</button>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Summary))
            {
                <label class="text-danger">@Summary</label>
            }
        </div>
    }
</div>
@if (Chartview && ChartData is not null)
{
    <div class="card card-primary">
        <div class="card-header">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#tab_1" role="tab" aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#tab_2" role="tab" aria-selected="false">Graph</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link" data-toggle="pill" @onclick="Test">Test</span>
                </li>
                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                        Export
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><span class="dropdown-item" @onclick="@(() => Export("excel"))">Excel</span></li>
                        <li><span class="dropdown-item" @onclick="@(() => Export("csv"))">CSV</span></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><span class="dropdown-item" @onclick="@(() => Export("chart"))">Graph</span></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>@selectedType</th>
                                <th class="text-right">Total Vehicle</th>
                                <th class="text-right">Overloaded Vehicle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (AxleLoadReport item in ChartData)
                            {
                                <tr>
                                    <td>@item.DateUnitName</td>
                                    <td class="text-right">@item.TotalVehicle.ToString("N0")</td>
                                    <td class="text-right">@item.OverloadVehicle.ToString("N0")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="tab_2">
                    <div class="row">
                        <div class="col-md-12 btn-group">
                            <button class="btn @(chartType == "bar" ? "btn-outline-success" : "btn-outline-info")" @onclick="@(() => ChartChanged("bar"))">Bar Chart</button>
                            <button class="btn @(chartType == "line" ? "btn-outline-success" : "btn-outline-info")" @onclick="@(() => ChartChanged("line"))">Line Chart</button>
                            <button class="btn @(chartType == "column" ? "btn-outline-success" : "btn-outline-info")" @onclick="@(() => ChartChanged("column"))">Column Chart</button>
                        </div>
                    </div>
                    <br/>
                    @if (!string.IsNullOrEmpty(chartType))
                    {
                        <div class="col-md-12 col-sm-12" style="width:auto">
                            <SfChart @ref="@chartInstance" Title="@ChartTitle" Width="@Width" Theme="@Theme">
                                <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>

                                <ChartPrimaryXAxis Title="@YAxisTitle" ValueType="Syncfusion.Blazor.Charts.ValueType.Category" Interval="1">
                                    <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                                    <ChartAxisMinorGridLines Width="0"></ChartAxisMinorGridLines>
                                </ChartPrimaryXAxis>

                                <ChartPrimaryYAxis Title="@XAxisTitle">
                                    <ChartAxisMinorGridLines Width="1"></ChartAxisMinorGridLines>
                                </ChartPrimaryYAxis>

                                <ChartSeriesCollection>
                                    <ChartSeries Name="Overloaded Vehicles" ColumnWidth="0.5" DataSource="@ChartData" XName="DateUnitName" YName="OverloadVehicle" Width="2" Type="chartSeriesType" EnableTooltip="true">
                                        <ChartMarker>
                                            <ChartDataLabel Visible="true" Position="LabelPosition.Top">
                                                <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                            </ChartDataLabel>
                                        </ChartMarker>
                                        <ChartSeriesBorder Width="1" Color="#ffffff"></ChartSeriesBorder>
                                    </ChartSeries>

                                    <ChartSeries Name="Not-Overloaded Vehicles" ColumnWidth="0.5" DataSource="@ChartData" XName="DateUnitName" YName="TotalVehicle" Width="2" Type="chartSeriesType" EnableTooltip="true">
                                        <ChartMarker>
                                            <ChartDataLabel Visible="true" Position="LabelPosition.Top">
                                                <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                                            </ChartDataLabel>
                                        </ChartMarker>
                                        <ChartSeriesBorder Width="1" Color="#ffffff"></ChartSeriesBorder>
                                    </ChartSeries>
                                </ChartSeriesCollection>
                                <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                <ChartLegendSettings Visible="true" EnableHighlight="true"></ChartLegendSettings>
                            </SfChart>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
    private Theme Theme { get; set; } = 0;
    private SfChart chartInstance;
    public LabelIntersectAction Label { get; set; } = LabelIntersectAction.Trim;

    public IEnumerable<AxleLoadReport> ChartData { get; set; }
    public IQueryable<List<LoadData>> listLoadData { get; set; }
    private Dictionary<string, IEnumerable<AxleLoadReport>> FilteredChartData;
    private ChartSeriesType chartSeriesType { get; set; } = ChartSeriesType.Bar;

    public string Width { get; set; } = "100%";
    public string FileName { get; set; } = "Charts";
    public string Format { get; set; } = "{value} GW";
    public string ChartTitle { get; set; } = "";
    public string XAxisTitle { get; set; } = "";
    public string YAxisTitle { get; set; } = "";
    private string selectedType { get; set; } = "";
    private string chartType { get; set; } = "bar";
    private string Summary { get; set; } = "";

    private bool showReportGroupSelection { get; set; } = false;    
    private bool Chartview { get; set; }
    private bool isLoading = false;
    private bool selectionEnabled = false;
    private (IEnumerable<AxleLoadReport>, bool, string) report { get; set; } 

    protected override async Task OnInitializedAsync()
    {
        ReportParameters reportParameters = await appState.GetReportParameters();
        showReportGroupSelection = reportParameters is not null;
    }

    void axisLabel(AxisLabelRenderEventArgs args)
    {
        if (args.Value > 999999 || args.Value < -999999)
        {
            args.Text = args.Value.ToString("0,,.##M", CultureInfo.InvariantCulture);
        }
    }

    private async Task Export(string type)
    {
        List<(string Header, string FieldName, Type FieldType)> fields = new();
        fields.Add((selectedType, nameof(AxleLoadReport.DateUnitName), new AxleLoadReport().DateUnitName.GetType()));
        fields.Add(("Total Vehicle", nameof(AxleLoadReport.TotalVehicle), new AxleLoadReport().TotalVehicle.GetType()));
        fields.Add(("Overload Vehicle", nameof(AxleLoadReport.OverloadVehicle), new AxleLoadReport().OverloadVehicle.GetType()));

        if (type == "excel")
        {
            byte[] fileByte = ExcelHelper.CreateSpreadsheetWorkbook<AxleLoadReport>(fields, ChartData.ToList());

            MemoryStream ms = new MemoryStream(fileByte);

            using var streamRef = new DotNetStreamReference(ms);
            await jsRuntime.InvokeVoidAsync("downloadFileFromStream", "Test.xlsx", streamRef);
        }
        else if (type == "csv")
        {
            MemoryStream stream = ExcelHelper.GenerateCSVStream<AxleLoadReport>(fields, ChartData.ToList());

            using var streamRef = new DotNetStreamReference(stream);
            await jsRuntime.InvokeVoidAsync("downloadFileFromStream", "Test.csv", streamRef);
        }
        else if(type == "chart")
        {
            await chartInstance.ExportAsync(ExportType.PNG, FileName, allowDownload: true, isBase64: true);
        }
    }

    public void ExportComplete(ExportEventArgs exportEventArgs)
    {
        string base64 = exportEventArgs.Base64;
    }
    private async Task ChartChanged(string type)
    {
        if (type.ToLower() == "line")
        {
            chartSeriesType = ChartSeriesType.Line;
        }
        else if (type.ToLower() == "column")
        {
            chartSeriesType = ChartSeriesType.StackingColumn;
        }
        else if(type.ToLower() == "bar")
        {
            chartSeriesType = ChartSeriesType.Bar;
        }
        chartType = type;
    }
    private async Task HandleParametersChanged(bool parameters)
    {
        selectionEnabled = parameters;
    }
    private async Task TypeChanged(string type)
    {
        selectedType = type;
        isLoading = true;
        ReportParameters reportParameters = await appState.GetReportParameters();
        if (reportParameters.Stations is not null)
        {
            await LoadChart();
        }
        isLoading = false;
    }
    private async Task LoadChart()
    {
        ReportParameters reportParameters = await appState.GetReportParameters();

        ChartTitle = "Number of Overloaded Vehicle " + "( " + reportParameters.DateStart.ToString("dd MMM yyy") + " to " + reportParameters.DateEnd.ToString("dd MMM yyy") + " )" + " Data Analysis";
        XAxisTitle = "Number of Vehicles (Units)";
        Chartview = true;
        if (selectedType == "Monthly")
        {
            report = await loadService.GetMonthlyOverloadedReport(reportParameters);
            if (report.Item2)
            {
                if (report.Item1.Count() > 0)
                {
                    ChartData = report.Item1;
                    YAxisTitle = "Months";
                }
                else 
                {
                    Chartview = false;
                    Summary = "No value is available";
                }
            }
            else
            {
                Summary = report.Item3;    
            }
        }
        else if (selectedType == "Weekly")
        {
            report = await loadService.GetWeeklyOverloadedReport(reportParameters);
            if (report.Item2)
            {
                if (report.Item1.Count() > 0)
                {
                    ChartData = report.Item1;
                    YAxisTitle = "Weeks";
                }
                else
                {
                    Chartview = false;
                    Summary = "No value is available";
                }
            }
            else
            {
                Summary = report.Item3;
            }
        }
        else if (selectedType == "Daily")
        {
            report = await loadService.GetHourlyOverloadedReport(reportParameters);
            if (report.Item2)
            {
                if (report.Item1.Count() > 0)
                {
                    ChartData = report.Item1;
                    YAxisTitle = "Hourly";
                }
                else
                {
                    Chartview = false;
                    Summary = "No value is available";
                }
            }
            else
            {
                Summary = report.Item3;
            }
        }
        else if (selectedType == "Yearly")
        {
            report = await loadService.GetYearlyOverloadedReport(reportParameters);
            if (report.Item2)
            {
                if (report.Item1.Count() > 0)
                {
                    ChartData = report.Item1;
                    YAxisTitle = "Yearly";
                }
                else
                {
                    Chartview = false;
                    Summary = "No value is available";
                }
            }
            else
            {
                Summary = report.Item3;
            }
        }
    }

    private async Task Test()
    {
        //var html = await jsRuntime.InvokeAsync<string>("GetHTML", "#tab_1");

        // Microsoft.Playwright.Program.Main(["install"]);

        using var playright = Playwright.CreateAsync();
        // var browser = await playright.
    }
}
