@using System
@using BOL
@inject IDCUService DCUService
@inject AuthenticationStateProvider authStateProvider
@inject IStringLocalizer<Locales.Resource> localizerResource
@inject IStringLocalizer<Locales.Reports> localizer

<PageTitleComponent Title="@localizer["ReportConfiguration.DCU"]"></PageTitleComponent>

@if (DCU is null)
{
    <Loader/>
}
else
{
    <EditForm Model="@DCU" OnValidSubmit=@OnValidSubmit OnInvalidSubmit="@OnInvalidSubmit">
        <DataAnnotationsValidator />
        <div class="card card-primary card-outline">
            <div class="card-body">
                <div class="row">                   
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="DCUNumber" class="form-label">@localizer["DCU.DCUNumber"]</label>
                                <label class="form-control">@DCU.DCUNumber</label>
                            }
                            else
                            {
                                <label for="DCUNumber" class="form-label">@localizer["DCU.DCUNumber"]</label>
                                <input type="text" @bind="DCU.DCUNumber" required class="form-control" placeholder="Name of DCUNumber" id="DCUNumber" />
                                <ValidationMessage For="() => DCU.DCUNumber" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="DCUAddress" class="form-label">@localizer["DCU.DCUAddress"]</label>
                                <label class="form-control">@DCU.DCUAddress</label>
                            }
                            else
                            {
                                <label for="DCUAddress" class="form-label">@localizer["DCU.DCUAddress"]</label>
                                <input type="text" @bind="DCU.DCUAddress" required class="form-control" placeholder="DCU Address" id="DCUAddress" />
                                <ValidationMessage For="() => DCU.DCUAddress" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="DCUType" class="form-label">@localizer["DCU.DCUType"]</label>
                                <label class="form-control">@DCU.DCUType</label>
                            }
                            else
                            {
                                <label for="DCUType" class="form-label">@localizer["DCU.DCUType"]</label>
                                <input type="text" @bind="DCU.DCUType" required class="form-control" placeholder="DCU DCUType" id="DCUType" />
                                <ValidationMessage For="() => DCU.DCUType" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="CompanyId" class="form-label">@localizer["DCU.CompanyId"]</label>
                                <label class="form-control">@DCU.CompanyId</label>
                            }
                            else
                            {
                                <label for="CompanyId" class="form-label">@localizer["DCU.CompanyId"]</label>
                                <input type="text" @bind="DCU.CompanyId" required class="form-control" placeholder="DCU CompanyId" id="CompanyId" />
                                <ValidationMessage For="() => DCU.CompanyId" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="IsActive" class="form-label">@localizer["DCU.IsActive"]</label>

                            @if (Mode == FormMode.Details)
                            {
                                <label class="form-control">@((DCU.IsActive) ? "Yes" : "No")</label>
                            }
                            else
                            {
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="IsActive" @bind="DCU.IsActive" />
                                    <label class="form-check-label" for="IsActive">@localizer["DCU.IsActive"]</label>
                                </div>
                                <ValidationMessage For="() => DCU.IsActive" />
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-md-4 col-sm-12 btn-group">
                    @if (Mode == FormMode.Details)
                    {
                        string editLink = "/DCU/edit/" + DCU.Id;
                        <NavLink class="btn btn-primary" href="@editLink">@localizerResource["Button.Edit"]</NavLink>
                    }
                    else
                    {
                        <button class="btn btn-primary" type="submit">@(Mode == FormMode.Add ? @localizerResource["Button.Save"] : @localizerResource["Button.Update"])</button>
                    }
                    <NavLink class="btn btn-primary" href="/DCU">@localizerResource["Button.Back"]</NavLink>
                        @if (!string.IsNullOrEmpty(ValidationSummary))
                    {
                        <label class="error">@ValidationSummary</label>
                    }
                </div>
            </div>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public DCU DCU { get; set; } = new();
    [Parameter]
    public FormMode Mode { get; set; } = FormMode.Details;
    private User currentUser { get; set; }
    private bool isSuccess { get; set; }
    string ValidationSummary;

    protected override async Task OnInitializedAsync()
    {
        var customStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        currentUser = await customStateProvider.GetAuthorizedUser();
    }

    void OnInvalidSubmit()
    {
        ValidationSummary = "Please enter valid data";
    }
    async Task OnValidSubmit(EditContext editContext)
    {
        ValidationSummary = "";

        if (Mode == FormMode.Edit)
        {
            await DCUService.UpdateDCU(DCU, currentUser);
            ValidationSummary = "DCU Updated Successfully";
        }
        else
        {
            isSuccess = await DCUService.InsertDCU(DCU, currentUser);
            if (isSuccess)
            {
                ValidationSummary = "New DCU added";
            }
            else
            {
                ValidationSummary = "New DCU added failed";
            }
        }
    }
}
