@using System
@using BOL
@using Services
@inject IUserService userService
@rendermode InteractiveServer

<PageTitle>List of User</PageTitle>
<h1>List of User</h1>

<NavLink class="btn btn-primary pull-right" href="/user/new" title="Add New">
    <i class="fa fa-plus"></i> Add New
</NavLink>
@if (users is null)
{
    <Loader />
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Role(s)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users.OrderBy(c => c.Id))
            {
                <tr>
                    <td><b>@user.Email</b></td>
                    <td><b>@user.Name</b></td>
                    <td><b>@user.Role</b></td>
                    <td>
                        <a class="waves-effect" href="@("/user/details/" + user.Id)" title="Details Information">
                            <i class="fa fa-info"></i>
                        </a>
                    </td>
                    <td>
                        <a class="waves-effect" href="@("/user/edit/" + user.Id)" title="Edit Information">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
@code {
    private IEnumerable<User> users;

    protected override async Task OnInitializedAsync()
    {
        users = await userService.GetUsers();
    }
}
