@using System
@using BOL
@inject IMeterService MeterService
@inject AuthenticationStateProvider authStateProvider
@inject IStringLocalizer<Locales.Resource> localizerResource
@inject IStringLocalizer<Locales.Reports> localizer

<PageTitleComponent Title="@localizer["ReportConfiguration.Meter"]"></PageTitleComponent>

@if (Meter is null)
{
    <Loader/>
}
else
{
    <EditForm Model="@Meter" OnValidSubmit=@OnValidSubmit OnInvalidSubmit="@OnInvalidSubmit">
        <DataAnnotationsValidator />
        <div class="card card-primary card-outline">
            <div class="card-body">
                <div class="row">                   
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="MeterNumber" class="form-label">@localizer["Meter.MeterNumber"]</label>
                                <label class="form-control">@Meter.MeterNumber</label>
                            }
                            else
                            {
                                <label for="MeterNumber" class="form-label">@localizer["Meter.MeterNumber"]</label>
                                <input type="text" @bind="Meter.MeterNumber" required class="form-control" placeholder="Meter Number" id="MeterNumber" />
                                <ValidationMessage For="() => Meter.MeterNumber" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="Address" class="form-label">@localizer["Meter.Address"]</label>
                                <label class="form-control">@Meter.Address</label>
                            }
                            else
                            {
                                <label for="Address" class="form-label">@localizer["Meter.Address"]</label>
                                <input type="text" @bind="Meter.Address" required class="form-control" placeholder="Meter Address" id="Address" />
                                <ValidationMessage For="() => Meter.Address" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="Address" class="form-label">@localizer["Meter.Address"]</label>
                                <label class="form-control">@Meter.Address</label>
                            }
                            else
                            {
                                <label for="Address" class="form-label">@localizer["Meter.Address"]</label>
                                <input type="text" @bind="Meter.Address" required class="form-control" placeholder="Meter Address" id="Address" />
                                <ValidationMessage For="() => Meter.Address" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="MeterType" class="form-label">@localizer["Meter.MeterType"]</label>
                                <label class="form-control">@Meter.MeterType</label>
                            }
                            else
                            {
                                <label for="MeterType" class="form-label">@localizer["Meter.MeterType"]</label>
                                <input type="text" @bind="Meter.MeterType" required class="form-control" placeholder="Meter MeterType" id="MeterType" />
                                <ValidationMessage For="() => Meter.MeterType" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="CompanyId" class="form-label">@localizer["Meter.CompanyId"]</label>
                                <label class="form-control">@Meter.CompanyId</label>
                            }
                            else
                            {
                                <label for="CompanyId" class="form-label">@localizer["Meter.CompanyId"]</label>
                                <input type="text" @bind="Meter.CompanyId" required class="form-control" placeholder="Meter Company Id" id="CompanyId" />
                                <ValidationMessage For="() => Meter.CompanyId" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="Dcuid" class="form-label">@localizer["Meter.Dcuid"]</label>
                                <label class="form-control">@Meter.Dcuid</label>
                            }
                            else
                            {
                                <label for="Dcuid" class="form-label">@localizer["Meter.Dcuid"]</label>
                                <input type="text" @bind="Meter.Dcuid" required class="form-control" placeholder="Meter Dcu id" id="Dcuid" />
                                <ValidationMessage For="() => Meter.Dcuid" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="CustomerId" class="form-label">@localizer["Meter.CustomerId"]</label>
                                <label class="form-control">@Meter.CustomerId</label>
                            }
                            else
                            {
                                <label for="CustomerId" class="form-label">@localizer["Meter.CustomerId"]</label>
                                <input type="text" @bind="Meter.CustomerId" required class="form-control" placeholder="Meter Customer Id" id="CustomerId" />
                                <ValidationMessage For="() => Meter.CustomerId" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="IsActive" class="form-label">@localizer["Meter.IsActive"]</label>

                            @if (Mode == FormMode.Details)
                            {
                                <label class="form-control">@((Meter.IsActive) ? "Yes" : "No")</label>
                            }
                            else
                            {
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="IsActive" @bind="Meter.IsActive" />
                                    <label class="form-check-label" for="IsActive">@localizer["Meter.IsActive"]</label>
                                </div>
                                <ValidationMessage For="() => Meter.IsActive" />
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-md-4 col-sm-12 btn-group">
                    @if (Mode == FormMode.Details)
                    {
                        string editLink = "/Meter/edit/" + Meter.Id;
                        <NavLink class="btn btn-primary" href="@editLink">@localizerResource["Button.Edit"]</NavLink>
                    }
                    else
                    {
                        <button class="btn btn-primary" type="submit">@(Mode == FormMode.Add ? @localizerResource["Button.Save"] : @localizerResource["Button.Update"])</button>
                    }
                    <NavLink class="btn btn-primary" href="/Meter">@localizerResource["Button.Back"]</NavLink>
                        @if (!string.IsNullOrEmpty(ValidationSummary))
                    {
                        <label class="error">@ValidationSummary</label>
                    }
                </div>
            </div>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public Meter Meter { get; set; } = new();
    [Parameter]
    public FormMode Mode { get; set; } = FormMode.Details;
    private User currentUser { get; set; }
    private bool isSuccess { get; set; }
    string ValidationSummary;

    protected override async Task OnInitializedAsync()
    {
        var customStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        currentUser = await customStateProvider.GetAuthorizedUser();
    }

    void OnInvalidSubmit()
    {
        ValidationSummary = "Please enter valid data";
    }
    async Task OnValidSubmit(EditContext editContext)
    {
        ValidationSummary = "";

        if (Mode == FormMode.Edit)
        {
            await MeterService.UpdateMeter(Meter, currentUser);
            ValidationSummary = "Meter Updated Successfully";
        }
        else
        {
            isSuccess = await MeterService.InsertMeter(Meter, currentUser);
            if (isSuccess)
            {
                ValidationSummary = "New Meter added";
            }
            else
            {
                ValidationSummary = "New Meter added failed";
            }
        }
    }
}
