@inherits LayoutComponentBase
@inject IStringLocalizer<Locales.Layout> localizer
<div class="wrapper">
    <!-- Preloader -->
    @* <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div> *@

    <!-- Navbar -->
    <Header />
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="" class="brand-link">
            <img src="dist/img/RHDLogo.png" alt="RHD Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">@localizer["Menu.AxleLoadSystem"]</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <UserMenu />
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <NavMenu />
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <GlobalNotification />
                <ErrorBoundary @ref="errorBoundary">
                    <ChildContent>
                        @Body
                    </ChildContent>
                    <ErrorContent Context="ex">
                        @if (HandleError(@ex) == true)
                        {
                            <div class="alert alert-danger" role="alert">
                                <h5>An Unhandled error occured. Exception: @ex.Message</h5>
                                Stack Trace: @ex.StackTrace
                            </div>
                        }
                    </ErrorContent>
                </ErrorBoundary>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <strong>@localizer["Menu.Copyright"] &copy; @DateTime.Today.Year RHD.</strong>
        @localizer["Menu.Rights"]
        <div class="float-right d-none d-sm-inline-block">
            <b>@localizer["Menu.Versions"]</b> 1.0
        </div>
    </footer>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    ErrorBoundary errorBoundary;
    protected override void OnParametersSet()
    {
        // On each page navigation, reset any error state
        errorBoundary?.Recover();
    }

    private bool HandleError(Exception ex)
    {
        var msg = ex.Message;
        var trace = ex.StackTrace;
        // examine error here
        return true;
    }
}