@inject IStringLocalizer<Locales.Layout> localizer

<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    @*<li class="nav-item">
    <NavLink class="nav-link" href="counter" Match="NavLinkMatch.All">
    <i class="nav-icon fas fa-th"></i>
    <p>
    @localizer["Menu.Counter"]
    <span class="right badge badge-danger">New</span>
    </p>
    </NavLink>
    </li>
    <li class="nav-item">
    <NavLink class="nav-link" href="counter2" Match="NavLinkMatch.All">
    <i class="nav-icon fas fa-th"></i>
    <p>
    @localizer["Menu.Counter2"]
    <span class="right badge badge-danger">New</span>
    </p>
    </NavLink>
    </li> *@
    <AuthorizeView>
        <NotAuthorized>Login to view menu</NotAuthorized>
    </AuthorizeView>
    <li class="nav-item">
        <NavLink class="nav-link" href="faq" Match="NavLinkMatch.All">
            <i class="nav-icon fas fa-question-circle"></i>
            <p>
                @localizer["Menu.FAQ"]
            </p>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="tutorial" Match="NavLinkMatch.All">
            <i class="nav-icon fas fa-store"></i>
            <p>
                @localizer["Menu.Tutorial"]
            </p>
        </NavLink>
    </li>
    <AuthorizeView Roles="Admin">
        <Authorized>
            <li class="nav-item @(selectedGroups.Contains("admin") ? " menu-is-opening menu-open" : "")">
                <a class="nav-link" role="button" @onclick='(() => MenuHeaderClicked("admin"))'>
                    <i class="nav-icon fas fa-user-cog"></i>
                    <p>
                        @localizer["Menu.Admin"]
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="user" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                @localizer["Menu.User"]
                                @* <span class="right badge badge-danger">New</span> *@
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="station" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-list"></i>
                            <p>
                                @localizer["Menu.Station"]
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="stationaccess" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-key"></i>
                            <p>
                                @localizer["Menu.StationAccess"]
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="classstatus" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-layer-group"></i>
                            <p>
                                @localizer["Menu.ClassStatus"]
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="configuration" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-cog"></i>
                            <p>
                                @localizer["Menu.ReportConfig"]
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="filelist" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-file"></i>
                            <p>
                                @localizer["Menu.UploadedFiles"]
                            </p>
                        </NavLink>
                    </li>
                </ul>
            </li>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="User">
        <Authorized>
            <li class="nav-item @(selectedGroups.Contains("pages") ? " menu-is-opening menu-open" : "")">
                <a class="nav-link" role="button" @onclick='(() => MenuHeaderClicked("pages"))'>
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        @localizer["Menu.Pages"]
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="map" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-map"></i>
                            <p>
                                @localizer["Menu.Map"]
                                @* <span class="right badge badge-danger">New</span> *@
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="databydate" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-file"></i>
                            <p>
                                @localizer["Menu.DatabyDate"]
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="brta" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-file"></i>
                            <p>
                                @localizer["Menu.BRTA"]
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="sqldirectsearch" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-filter"></i>
                            <p>
                                SQL Direct Search
                            </p>
                        </NavLink>
                    </li>
                </ul>
            </li>


            <li class="nav-item @(selectedGroups.Contains("reports") ? " menu-is-opening menu-open" : "")">
                <a class="nav-link" role="button" @onclick='(() => MenuHeaderClicked("reports"))'>
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        @localizer["Menu.Reports"]
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="grossweight" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-chart-bar"></i>
                            <p>
                                @localizer["Menu.GrossWeight"]
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="overloaded" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-chart-line"></i>
                            <p>
                                @localizer["Menu.Overloaded"]
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="overweight" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            <p>
                                @localizer["Menu.Overweight"]
                            </p>
                        </NavLink>
                    </li>
                </ul>
            </li>

            @* <li class="nav-item @(selectedGroups.Contains("analysis") ? " menu-is-opening menu-open" : "")">
                <a class="nav-link" role="button" @onclick='(() => MenuHeaderClicked("analysis"))'>
                    <i class="nav-icon fas fa-chart-pie"></i>
                    <p>
                        Analysis
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-chart-line"></i>
                            <p>
                                Under Development
                            </p>
                        </NavLink>
                    </li>
                </ul>
            </li> *@

            
            
        </Authorized>
    </AuthorizeView>
</ul>

@code {
    private List<string> selectedGroups { get; set; } = new();

    private void MenuHeaderClicked(string clickedGroup)
    {
        if(selectedGroups is null)
        {
            selectedGroups = new();
        }

        if (selectedGroups.Contains(clickedGroup))
        {
            selectedGroups.Remove(clickedGroup);
        }
        else
        {
            selectedGroups.Add(clickedGroup);
        }
    }
}