@inject IStringLocalizer<Locales.Layout> localizer

<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    @* <li class="nav-item menu-open">
    <a href="#" class="nav-link active">
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <p>
    Dashboard
    <i class="right fas fa-angle-left"></i>
    </p>
    </a>
    <ul class="nav nav-treeview">
    <li class="nav-item">
    <a href="./index.html" class="nav-link active">
    <i class="far fa-circle nav-icon"></i>
    <p>Dashboard v1</p>
    </a>
    </li>
    <li class="nav-item">
    <a href="./index2.html" class="nav-link">
    <i class="far fa-circle nav-icon"></i>
    <p>Dashboard v2</p>
    </a>
    </li>
    <li class="nav-item">
    <a href="./index3.html" class="nav-link">
    <i class="far fa-circle nav-icon"></i>
    <p>Dashboard v3</p>
    </a>
    </li>
    </ul>
    </li>
    <li class="nav-item">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
    <i class="nav-icon fas fa-th"></i>
    <p>
    Home
    <span class="right badge badge-danger">New</span>
    </p>
    </NavLink>
    </li> *@

    @*<li class="nav-item">
    <NavLink class="nav-link" href="counter" Match="NavLinkMatch.All">
    <i class="nav-icon fas fa-th"></i>
    <p>
    @localizer["Menu.Counter"]
    <span class="right badge badge-danger">New</span>
    </p>
    </NavLink>
    </li>
    <li class="nav-item">
    <NavLink class="nav-link" href="counter2" Match="NavLinkMatch.All">
    <i class="nav-icon fas fa-th"></i>
    <p>
    @localizer["Menu.Counter2"]
    <span class="right badge badge-danger">New</span>
    </p>
    </NavLink>
    </li> *@
    <AuthorizeView>
        <NotAuthorized>Login to view menu</NotAuthorized>
    </AuthorizeView>
    <li class="nav-item">
        <NavLink class="nav-link" href="faq" Match="NavLinkMatch.All">
            <i class="nav-icon fa fa-question-circle"></i>
            <p>
                FAQ
                @* @localizer["Menu.FAQ"] *@
            </p>
        </NavLink>
    </li>
    <AuthorizeView Roles="Admin">
        <Authorized>
            <li class="nav-header">Administration</li>
            <li class="nav-item">
                <NavLink class="nav-link" href="user" Match="NavLinkMatch.All">
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                        @localizer["Menu.User"]
                        @* <span class="right badge badge-danger">New</span> *@
                    </p>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="station" Match="NavLinkMatch.All">
                    <i class="nav-icon fas fa-list"></i>
                    <p>
                        @localizer["Menu.Station"]
                    </p>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="stationaccess" Match="NavLinkMatch.All">
                    <i class="nav-icon fas fa-key"></i>
                    <p>
                        @localizer["Menu.StationAccess"]
                    </p>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="filelist" Match="NavLinkMatch.All">
                    <i class="nav-icon fas fa-file"></i>
                    <p>
                        @localizer["Menu.UploadedFiles"]
                    </p>
                </NavLink>
            </li>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="User">
        <Authorized>
            <li class="nav-header">Pages</li>
            @* <li class="nav-item">
            <NavLink class="nav-link" href="changepassword" Match="NavLinkMatch.All">
            <i class="nav-icon fas fa-key"></i>
            <p>
            @localizer["Menu.ChangePassword"]
            </p>
            </NavLink>
            </li>
            <li class="nav-item">
            <NavLink class="nav-link" href="fileupload" Match="NavLinkMatch.All">
            <i class="nav-icon fas fa-upload"></i>
            <p>
            @localizer["Menu.FileUpload"]
            </p>
            </NavLink>
            </li> *@
            <li class="nav-item">
                <NavLink class="nav-link" href="map" Match="NavLinkMatch.All">
                    <i class="nav-icon fas fa-map"></i>
                    <p>
                        @localizer["Menu.Map"]
                        @* <span class="right badge badge-danger">New</span> *@
                    </p>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="databydate" Match="NavLinkMatch.All">
                    <i class="nav-icon fas fa-file"></i>
                    <p>
                        Data by Date
                    </p>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="brta" Match="NavLinkMatch.All">
                    <i class="nav-icon fas fa-file"></i>
                    <p>
                        @localizer["Menu.BRTA"]
                    </p>
                </NavLink>
            </li>


            <li class="nav-item">
                <NavLink class="nav-link" href="datasearch" Match="NavLinkMatch.All">
                    <i class="nav-icon fas fa-search"></i>
                    <p>
                        Data Search
                        @* @localizer["Menu.BRTA"] *@
                    </p>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="dataanalysis" Match="NavLinkMatch.All">
                    <i class="nav-icon fas fa-chart-line"></i>
                    <p>
                        Data Analysis
                        @* @localizer["Menu.BRTA"] *@
                    </p>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="datavisualization" Match="NavLinkMatch.All">
                    <i class="nav-icon fas fa-chart-pie"></i>
                    <p>
                        Data Visualization
                        @* @localizer["Menu.BRTA"] *@
                    </p>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="sqldirectsearch" Match="NavLinkMatch.All">
                    <i class="nav-icon fas fa-filter"></i>
                    <p>
                        SQL Direct Search
                        @* @localizer["Menu.BRTA"] *@
                    </p>
                </NavLink>
            </li>
        </Authorized>
    </AuthorizeView>
</ul>
