@inject AuthenticationStateProvider authStateProvider
@inject IStringLocalizer<Locales.Layout> localizer
@inject ILiveNotificationState notificationState
@inject IFAQService faqService
@implements IDisposable

<ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    <AuthorizeView>
        <NotAuthorized>
            <li class="nav-item">
                <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
                    <i class="nav-icon fas fa-door-closed"></i>
                    <p>Login</p>
                </NavLink>
            </li>
        </NotAuthorized>
    </AuthorizeView>


    <AuthorizeView Roles="Admin">
        <Authorized>
            <li class="nav-item @(selectedGroups.Contains("admin") ? " menu-is-opening menu-open" : "")">
                <a class="nav-link" role="button" @onclick='(() => MenuHeaderClicked("admin"))'>
                    <i class="nav-icon fas fa-user-tie"></i>
                    <p>
                        @localizer["Menu.Admin"]
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <ul class="nav-item @(selectedGroups.Contains("userGroup") ? " menu-is-opening menu-open" : "")">
                        <a class="nav-link" role="button" @onclick='(() => MenuHeaderClicked("userGroup"))'>
                            <i class="nav-icon fas fa-users-cog"></i>
                            <p>
                                @localizer["Menu.UserGroup"]
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="user" Match="NavLinkMatch.Prefix">
                                    <i class="nav-icon fas fa-users"></i>
                                    <p>
                                        @localizer["Menu.Users"]
                                    </p>
                                </NavLink>
                            </li>
                        </ul>
                    </ul>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="company" Match="NavLinkMatch.Prefix">
                            <i class="nav-icon fas fa-layer-group"></i>
                            <p>
                                @localizer["Menu.Company"]
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="customer" Match="NavLinkMatch.Prefix">
                            <i class="nav-icon fas fa-layer-group"></i>
                            <p>
                                @localizer["Menu.Customer"]
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="dcu" Match="NavLinkMatch.Prefix">
                            <i class="nav-icon fas fa-layer-group"></i>
                            <p>
                                @localizer["Menu.DCU"]
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="meter" Match="NavLinkMatch.Prefix">
                            <i class="nav-icon fas fa-layer-group"></i>
                            <p>
                                @localizer["Menu.Meter"]
                            </p>
                        </NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="logmanagement" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-history"></i>
                            <p>
                                @localizer["Menu.LogManagement"]
                            </p>
                        </NavLink>
                    </li>
                </ul>
            </li>
        </Authorized>
    </AuthorizeView>
</ul>

@code {
    private User currentUser { get; set; } = null;
    private List<string> selectedGroups { get; set; } = new();
    private int faqCount { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var customStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
            currentUser = await customStateProvider.GetAuthorizedUser();

            if (currentUser is not null && currentUser.HasRole(nameof(UserRole.Admin)))
            {
                notificationState.OnChangeFAQ += FAQNotified;

                //Set Unanswered FAQ count
                faqCount = await faqService.GetUnansweredFAQCount();
                await notificationState.SetFAQCount(faqCount);
            }
        }
    }

    private void MenuHeaderClicked(string clickedGroup)
    {
        if (selectedGroups is null)
        {
            selectedGroups = new();
        }

        if (selectedGroups.Contains(clickedGroup))
        {
            selectedGroups.Remove(clickedGroup);
        }
        else
        {
            selectedGroups.Add(clickedGroup);
        }
    }
    private void FAQNotified(int count)
    {
        faqCount = count;
        this.InvokeAsync(StateHasChanged);
    }
    void IDisposable.Dispose()
    {
        if (currentUser is not null && currentUser.HasRole(nameof(UserRole.Admin)))
        {
            notificationState.OnChangeFAQ += FAQNotified;
        }
        notificationState.OnChangeFAQ -= FAQNotified;
    }
}