@inject IStringLocalizer<Locales.Layout> localizer

<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    @*<li class="nav-item">
    <NavLink class="nav-link" href="counter" Match="NavLinkMatch.All">
    <i class="nav-icon fas fa-th"></i>
    <p>
    @localizer["Menu.Counter"]
    <span class="right badge badge-danger">New</span>
    </p>
    </NavLink>
    </li>
    <li class="nav-item">
    <NavLink class="nav-link" href="counter2" Match="NavLinkMatch.All">
    <i class="nav-icon fas fa-th"></i>
    <p>
    @localizer["Menu.Counter2"]
    <span class="right badge badge-danger">New</span>
    </p>
    </NavLink>
    </li> *@
    <AuthorizeView>
        <NotAuthorized>Login to view menu</NotAuthorized>
    </AuthorizeView>
    <li class="nav-item">
        <NavLink class="nav-link" href="faq" Match="NavLinkMatch.All">
            <i class="nav-icon fa fa-question-circle"></i>
            <p>
                FAQ
                @* @localizer["Menu.FAQ"] *@
            </p>
        </NavLink>
    </li>
    <AuthorizeView Roles="Admin">
        <Authorized>
            <li class="nav-item @(selectedGroup == "admin" ? " menu-is-opening menu-open" : "")">
                <a href="#" class="nav-link" @onclick='(() => MenuHeaderClicked("admin"))'>
                    @* <i class="nav-icon fas fa-copy"></i> *@
                    <p>
                        Administration
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="user" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                @localizer["Menu.User"]
                                @* <span class="right badge badge-danger">New</span> *@
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="station" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-list"></i>
                            <p>
                                @localizer["Menu.Station"]
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="stationaccess" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-key"></i>
                            <p>
                                @localizer["Menu.StationAccess"]
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="classstatus" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-layer-group"></i>
                            <p>
                                @localizer["Menu.ClassStatus"]
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="filelist" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-file"></i>
                            <p>
                                @localizer["Menu.UploadedFiles"]
                            </p>
                        </NavLink>
                    </li>
                </ul>
            </li>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView Roles="User">
        <Authorized>
            <li class="nav-item @(selectedGroup == "pages" ? " menu-is-opening menu-open" : "")">
                <a href="#" class="nav-link" @onclick='(() => MenuHeaderClicked("pages"))'>
                    <p>
                        Pages
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="map" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-map"></i>
                            <p>
                                @localizer["Menu.Map"]
                                @* <span class="right badge badge-danger">New</span> *@
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="databydate" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-file"></i>
                            <p>
                                Data by Date
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="brta" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-file"></i>
                            <p>
                                @localizer["Menu.BRTA"]
                            </p>
                        </NavLink>
                    </li>
                </ul>
            </li>


            <li class="nav-item @(selectedGroup == "reports" ? " menu-is-opening menu-open" : "")">
                <a href="#" class="nav-link" @onclick='(() => MenuHeaderClicked("reports"))'>
                    @* <i class="nav-icon fas fa-copy"></i> *@
                    <p>
                        Reports
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="numberofvehicle" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-chart-bar"></i>
                            <p>
                                Number Of Vechicle
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="overloadedvehicle" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-chart-line"></i>
                            <p>
                                Overloaded Vechicle
                            </p>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="overweightvehicle" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            <p>
                                Overweight Vechicle
                            </p>
                        </NavLink>
                    </li>
                </ul>
            </li>

            <li class="nav-item @(selectedGroup == "analysis" ? " menu-is-opening menu-open" : "")">
                <a href="#" class="nav-link" @onclick='(() => MenuHeaderClicked("analysis"))'>
                    @* <i class="nav-icon fas fa-copy"></i> *@
                    <p>
                        Analysis
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                            <i class="nav-icon fas fa-chart-line"></i>
                            <p>
                                Under Development
                            </p>
                        </NavLink>
                    </li>
                </ul>
            </li>

            @* <li class="nav-item">
            <NavLink class="nav-link" href="datasearch" Match="NavLinkMatch.All">
            <i class="nav-icon fas fa-search"></i>
            <p>
            Data Search
            </p>
            </NavLink>
            </li>
            <li class="nav-item">
            <NavLink class="nav-link" href="datavisualization" Match="NavLinkMatch.All">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
            Data Visualization
            </p>
            </NavLink>
            </li>
            <li class="nav-item">
            <NavLink class="nav-link" href="sqldirectsearch" Match="NavLinkMatch.All">
            <i class="nav-icon fas fa-filter"></i>
            <p>
            SQL Direct Search
            </p>
            </NavLink>
            </li> *@
            
        </Authorized>
    </AuthorizeView>
</ul>

@code {
    private string selectedGroup { get; set; }

    private void MenuHeaderClicked(string clickedGroup)
    {
        if (selectedGroup == clickedGroup)
        {
            selectedGroup = "";
        }
        else
        {
            selectedGroup = clickedGroup;
        }
    }
}