@page "/tutorial"
@using BOL.Models
@using Services.Helpers
@inject ITutorialService tutorialService
@inject ICategoryService categoryService
@inject IFileStoreHelper fileStoreHelper
@inject AuthenticationStateProvider authStateProvider
@inject IJSRuntime jsRuntime
@inject IStringLocalizer<Locales.CommonPages> localizerCommon

<PageTitleComponent Title="@localizerCommon["Tutorial.Title"]">
    <div class="btn-group float-right">
        <AuthorizeView Roles="Admin">
            <Authorized>
                <a href="/tutorial/admin" class="btn btn-primary">@localizerCommon["Tutorial.Link.Admin"]</a>
            </Authorized>
        </AuthorizeView>
    </div>
</PageTitleComponent>
<div class="card">
    <div class="card-body card-primary card-outline" id="accordion">
        @if (tutorials == null && categories is null)
        {
            <Loader />
        }
        else if (tutorials.Count() == 0)
        {
            <p>No Data Found</p>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>@localizerCommon["Tutorial.CategoryName"]</th>
                        <th>@localizerCommon["Tutorial.FileName"]</th>
                        <th>@localizerCommon["Tutorial.FileDescription"]</th>
                        <th>@localizerCommon["Tutorial.UploadedTime"]</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Tutorial tutorial in tutorials.OrderBy(f => f.DisplayOrder))
                    {
                        string categoryName = categories.Where(c => c.Id == tutorial.TutorialCategoryId).FirstOrDefault()?.Name;
                        <tr>
                            <td>@categoryName</td>
                            <td>@tutorial.FileName</td>
                            <td>@tutorial.Description</td>
                            <td>@tutorial.Date</td>
                            <td class="text-right">     
                                <div class="btn-group">
                                    <span class="btn btn-primary" @onclick="() => SubmitForDownload(tutorial)" title="Download file">
                                    <i class="fa fa-download"></i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@code {
    private List<Tutorial> tutorials { get; set; } = null;
    private Tutorial tutorial { get; set; } = new();
    private IEnumerable<TutorialCategory> categories { get; set; } = null;
    private User currentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var Listtutorial = await tutorialService.GetTutorials();
        tutorials = Listtutorial.ToList();
        categories = await categoryService.GetCategoryList();
        var customStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        currentUser = await customStateProvider.GetAuthorizedUser();

    }
    private async Task SubmitForDownload(Tutorial tutorial)
    {
        byte[] fileBytes = await fileStoreHelper.GetFileContentAsync(tutorial.FileLocation);
        await jsRuntime.InvokeVoidAsync("downloadFileFromString", tutorial.FileName, Convert.ToBase64String(fileBytes));
    }
}
