@page "/sqldirectsearch"
@using System.Data
@using Microsoft.AspNetCore.Components.QuickGrid
@using System.Text.RegularExpressions;
@inject IAppState appState
@inject AuthenticationStateProvider authStateProvider
@inject ISQLSearchService sqlSearchService
@inject IStringLocalizer<Locales.Resource> localizerResource
@inject IStringLocalizer<Locales.CommonPages> localizerCommon

<PageTitleComponent Title="@localizerCommon["SQLDirectSearch"]">
</PageTitleComponent>

<div class="card card-primary card-outline">
    @if (sqlSearch is not null)
    {
        <div class="card-body">
            @* <EditForm EditContext="@editContext" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <label for="sql" class="form-label">SQL Query</label>
                        <textarea @bind="@sqlSearch.Query" class="form-control" placeholder="Please write SQL query only..." id="sql" style="field-sizing: content;"></textarea>
                    </div>

                    @if (!string.IsNullOrEmpty(Summary))
                    {
                        <div class="col-md-12">
                            <label class="text-danger">@Summary</label>
                        </div>
                    }
                    <div class="col-md-12 col-sm-12">
                        <div class="btn btn-group">
                            <button type="submit" class="btn btn-primary" disabled="@(showLoading ? "disabled" : null)">@localizerResource["Button.Execute"]</button>
                        </div>
                    </div>
                </div>
            </EditForm> *@
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label for="sql" class="form-label">SQL Query</label>
                    <textarea @bind="@sqlSearch.Query" class="form-control" placeholder="Please write SQL query only..." id="sql" style="field-sizing: content;"></textarea>
                </div>

                @if(parameters is not null)
                {
                    <div class="col-md-12">
                        <table class="table no-border">
                            <thead>
                                <tr>
                                    <th>@localizerCommon["Parameter.Name"]</th>
                                    <th>@localizerCommon["Parameter.Value"]</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var param in parameters)
                                {
                                    string prefix = "@";
                                    <tr>
                                        <td>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="basic-addon1">@prefix</span>
                                                <input type="text" @bind="param.Name" class="form-control" placeholder="@localizerCommon["Parameter.Name"]" min="5" maxlength="300" />
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" @bind="param.Value" class="form-control" placeholder="@localizerCommon["Parameter.Value"]" min="1" maxlength="300" />
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-success" title="Add New Parameter" @onclick="ParameterAdd"><i class="fas fa-plus-circle"></i></button>
                                                @if (parameters.Count > 1)
                                                {
                                                    <button type="button" class="btn btn-danger" title="Delete New Parameter" @onclick="@(() => ParameterDelete(param))"><i class="fas fa-trash"></i></button>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Summary))
                {
                    <div class="col-md-12">
                        <label class="text-danger">@Summary</label>
                    </div>
                }
                <div class="col-md-12 col-sm-12">
                    <div class="btn btn-group">
                        <button type="submit" class="btn btn-primary" disabled="@(showLoading ? "disabled" : null)" @onclick="Save">@localizerResource["Button.Execute"]</button>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (showLoading)
    {
        <Loader/>
    }
    else if (results != null)
    {
        <div class="card-body">
            <div class="enable-table-scroll">
                <QuickGrid TGridItem="DataRow" ItemsProvider="provider" Virtualize="true" ItemSize="35">
                    @foreach (DataColumn column in results.Columns)
                    {
                        <PropertyColumn Property="@(c => c[column.ColumnName])" Title="@column.ColumnName" Sortable="true">
                            @* <HeaderTemplate>
                                @column.ColumnName
                            </HeaderTemplate> *@
                        </PropertyColumn>
                    }
                </QuickGrid>
            </div>
        </div>
    }
</div>

@code {
    private SQLSearch sqlSearch { get; set; } = new();
    private EditContext editContext = default!;
    private User currentUser { get; set; }
    private DataTable results;
    private GridItemsProvider<DataRow>? provider;

    private List<SqlSearchParameters> parameters { get; set; }
    private bool showLoading { get; set; } = false;
    private string Summary { get; set; }

    private class SqlSearchParameters
    {
        public string Name { get; set; } = "";
        public string Value { get; set; } = "";
    }
    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(sqlSearch);
        var customStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        currentUser = await customStateProvider.GetAuthorizedUser();

        parameters = new();
        parameters.Add(new());
    }
    private async Task OnValidSubmit(EditContext editContext)
    {
        showLoading = true;
        Summary = "";
        // sqlSearch.Date = DateTime.Now;
        // sqlSearch.UserId = currentUser.Id;
        try
        {
            await this.LoadData();
        }
        catch (Exception ex)
        {
            Summary = "Error: " + ex.Message;
        }
        finally
        {
            showLoading = false;
        }
    }
    private async Task Save()
    {
        Summary = "";
        // sqlSearch.Date = DateTime.Now;
        // sqlSearch.UserId = currentUser.Id;
        if (string.IsNullOrEmpty(sqlSearch.Query))
        {
            Summary = "Please enter query";
            return;
        }
        try
        {
            showLoading = true;
            await this.LoadData();
        }
        catch (Exception ex)
        {
            Summary = "Error: " + ex.Message;
        }
        finally
        {
            showLoading = false;
        }
    }
    private async Task LoadData()
    {
        Dictionary<string, object> dicParameters = new();

        foreach (SqlSearchParameters item in parameters.Where(p => !string.IsNullOrEmpty(p.Name) && !string.IsNullOrEmpty(p.Value)))
        {
            dicParameters.Add(item.Name, item.Value);
        }

        results = await sqlSearchService.GetSQLSearch(sqlSearch, dicParameters);
        var rows = results.AsEnumerable().ToList();
        var providerResult = GridItemsProviderResult
            .From<DataRow>(rows, rows.Count);
        provider = req => ValueTask.FromResult(providerResult);
    }
    private void OnInvalidSubmit()
    {
        appState.SetNotification(this, "Please enter valid values", Notification.NotificationType.Failure);
    }
    private void ParameterAdd()
    {
        parameters.Add(new SqlSearchParameters { Name = "", Value = "" });
    }

    private void ParameterDelete(SqlSearchParameters param)
    {
        parameters.Remove(param);
    }
}
