@using System
@using BOL
@using Services
@rendermode InteractiveServer
@inject IUserService userService
@inject IStringLocalizer<Locales.Resource> localizerResource
@inject IStringLocalizer<Locales.User> localizer
@inject NavigationManager navigation
@inject IAppState appState

@if (user is null)
{
    <Loader />
}
else
{
    <EditForm Model="@user" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit" FormName="Users" method="post">
        <DataAnnotationsValidator />
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">@localizer["UserManagement"]</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="name" class="form-label">@localizer["Email"]</label>
                                <label class="form-control">@user.Email</label>
                            }
                            else
                            {
                                <label for="name" class="form-label">@localizer["Email"]</label>
                                <input type="email" @bind-value="user.Email" required class="form-control" placeholder="Email" id="name" maxlength="50"/>
                                <ValidationMessage For="() => user.Email" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="name" class="form-label">@localizer["NameofUser"]</label>
                                <label class="form-control">@user.Name</label>
                            }
                            else
                            {
                                <label for="name" class="form-label">@localizer["NameofUser"]</label>
                                <input type="text" @bind-value="user.Name" required class="form-control" placeholder="Name of user" id="name" min="5" maxlength="50" />
                                <ValidationMessage For="() => user.Name" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="name" class="form-label">@localizer["Role"]</label>
                                <label class="form-control">@user.Role</label>
                            }
                            else
                            {
                                <label for="Role" class="form-label">@localizer["Role"]</label>
                                <div class="form-control">
                                    <div class="col-12">
                                        @foreach (var item in Enum.GetValues(typeof(UserRole)))
                                        {
                                            string value = item.ToString() ?? "";
                                            bool check = selectedRoles.Contains(value);
                                            <div class="icheck-primary d-inline">
                                                @* <input type="checkbox" id="checkboxPrimary1" checked=""> *@
                                                <input type="checkbox" id="checkId@(value)" checked="@check" @onchange="eventArgs => { CheckboxClicked(value, eventArgs.Value); }" />
                                                <label for="checkId@(value)">@localizer[@value]</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="isActive" class="form-label">@localizer["IsActive"]</label>
                                <label class="form-control">@user.Role</label>
                            }
                            else
                            {
                                <label for="isActive" class="form-label">@localizer["IsActive"]</label>
                                <div class="form-control">
                                    <div class="col-12">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="isActive" @bind="@user.IsActive" />
                                            <label for="isActive">@localizer["IsActive"]</label>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    @if (Mode == FormMode.Add)
                    {
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="pass" class="form-label">@localizer["Password"] <i class="fas fa-eye" @onclick="@(() => {showPassword = !showPassword;})" title="Click to show/hide password text"></i></label>
                                <input type="@(showPassword ? "text" : "password")" @bind-value="user.Password" required class="form-control" placeholder="Password" id="pass" maxlength="50" />
                                <ValidationMessage For="() => user.Password" />
                            </div>
                            @if (!string.IsNullOrWhiteSpace(user.Password))
                            {
                                <div class="progress">
                                    <div class="progress-bar @(GetProgressColor(user.Password))" role="progressbar" style="width: @(GetPasswordStrength(user.Password) * 25)%;" aria-valuenow="@(GetPasswordStrength(user.Password) * 25)" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                @if (!string.IsNullOrEmpty(validationSummary))
                                {
                                    <label class="text-danger">@validationSummary</label>
                                }
                            }
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="cpass" class="form-label">@localizer["ConfirmPassword"]</label>
                                <input type="password" @bind-value="confirmPassword" required class="form-control" placeholder="Confirm Password" id="cpass" maxlength="50" />
                                <ValidationMessage For="() => confirmPassword" />
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="card-footer">
                <div class="col-md-12 col-sm-12">
                    <div class="btn-group">
                        @if (Mode == FormMode.Details)
                        {
                            string editLink = "/user/edit/" + user.Id;
                            <NavLink class="btn btn-primary" href="@editLink">@localizerResource["Button.Edit"]</NavLink>
                        }
                        else
                        {
                            <button class="btn btn-primary" type="submit" disabled="@saveDisabled">@(Mode == FormMode.Add ? @localizerResource["Button.Save"] : @localizerResource["Button.Update"])</button>
                        }
                        <NavLink class="btn btn-primary" href="/user">@localizerResource["Button.Back"]</NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>

    @if (Mode == FormMode.Edit)
    {
        <EditForm Model="@userPassword" OnValidSubmit="@OnValidPasswordSubmit" OnInvalidSubmit="@OnInvalidPasswordSubmit" FormName="Users" method="post">
            <DataAnnotationsValidator />
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">@localizer["ChangePassword"]</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="password">@localizer["NewPassword"] <i class="fas fa-eye" @onclick="@(() => {showPassword = !showPassword;})" title="Click to show/hide password text"></i></label>
                                <InputText type="@(showPassword ? "text" : "password")" @bind-Value="NewPasswordInput" class="form-control" placeholder="New Password" id="NewPassword" maxlength="50" />
                            </div>
                            @if (!string.IsNullOrWhiteSpace(NewPasswordInput))
                            {
                                <div class="progress" title="lenghth >= 8, Upper and Lower case, Special character">
                                    <div class="progress-bar @(GetProgressColor(NewPasswordInput))" role="progressbar" style="width: @(GetPasswordStrength(NewPasswordInput) * 25)%;" aria-valuenow="@(GetPasswordStrength(NewPasswordInput) * 25)" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                @if (!string.IsNullOrEmpty(validationSummary))
                                {
                                    <label class="text-danger">@validationSummary</label>
                                }
                            }
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="password">@localizer["ConfirmNewPassword"]</label>
                                <InputText type="password" @bind-Value="PasswordMatch" class="form-control" placeholder="Confirm New Password" id="CNewPassword" maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-md-12 col-sm-12">
                        <div class="btn-group">
                            <button class="btn btn-primary" type="submit" disabled="@saveDisabled">@localizerResource["Button.ChangePassword"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    }
}

@code {
    [Parameter]
    // [SupplyParameterFromForm(FormName = "Users")]
    public User user { get; set; } = new();
    [Parameter]
    public FormMode Mode { get; set; } = FormMode.Details;

    private List<string> selectedRoles = new();

    [Required]
    private string confirmPassword { get; set; }

    private bool saveDisabled { get; set; } = false;
    private User userPassword { get; set; } = new();
    private bool showPassword { get; set; } = false;
    string PasswordMatch, NewPasswordInput;
    string validationSummary { get; set; }
    protected override void OnParametersSet()
    {
        if (user is not null && !string.IsNullOrEmpty(user.Role))
        {
            selectedRoles = user.Role.Split(',').ToList();
        }
    }

    void OnInvalidSubmit()
    {
        Notification notification = new();
        notification.Type = Notification.NotificationType.Warning;
        notification.Message = "Please enter valid data";
    }
    async Task OnValidSubmit(EditContext editContext)
    {
        saveDisabled = true;
        Notification notification = new();

        int count = selectedRoles.Count();
        if (count == 0)
        {
            notification.Type = Notification.NotificationType.Warning;
            notification.Message = "Select atleast one role";
            appState.SetNotification(this, notification);
            saveDisabled = false;
            return;
        }

        string role = "";
        foreach (string r in selectedRoles)
        {
            role += r + ",";
        }

        role = role.TrimEnd(',');
        user.Role = role;
        if (await ValidatePassword(user.Password))
        {
            if (Mode == FormMode.Edit)
            {
                User currentUser = await userService.UpdateUser(user);
                if (currentUser is not null)
                {
                    notification.Type = Notification.NotificationType.Success;
                    notification.Message = "User Updated Successfully";
                    appState.SetNotification(this, notification);
                    navigation.NavigateTo("user");
                }
                else
                {
                    notification.Type = Notification.NotificationType.Failure;
                    notification.Message = "Error: User Update Failed";
                    appState.SetNotification(this, notification);
                    navigation.NavigateTo("user");

                }

            }
            else
            {
                User currentUser = await userService.InsertUser(user);
                if (currentUser is not null)
                {
                    notification.Type = Notification.NotificationType.Success;
                    notification.Message = "User Added Successfully";
                    appState.SetNotification(this, notification);
                    navigation.NavigateTo("user");
                }
                else
                {
                    notification.Type = Notification.NotificationType.Failure;
                    notification.Message = "Error: User Added Failed";
                    appState.SetNotification(this, notification);
                    navigation.NavigateTo("user");
                }

            }  
        }
        saveDisabled = false;
    }
    public void CheckboxClicked(string aSelectedId, object aChecked)
    {
        if ((bool)aChecked)
        {
            if (!selectedRoles.Contains(aSelectedId))
            {
                selectedRoles.Add(aSelectedId);
            }
        }
        else
        {
            if (selectedRoles.Contains(aSelectedId))
            {
                selectedRoles.Remove(aSelectedId);
            }
        }
    }

    void OnInvalidPasswordSubmit()
    {
        Notification notification = new("Please enter valid password", Notification.NotificationType.Warning);
        appState.SetNotification(this, notification);
    }
    async Task OnValidPasswordSubmit(EditContext editContext)
    {
        if (await ValidatePassword(NewPasswordInput))
        {
            Notification notification = new();
            if (NewPasswordInput.Equals(PasswordMatch))
            {
                userPassword.Id = user.Id;
                userPassword.Password = PasswordMatch;
                if (await userService.ChangePassword(userPassword))
                {
                    notification.Type = Notification.NotificationType.Success;
                    notification.Message = "Password Changed Successfully";
                }
                else
                {
                    notification.Type = Notification.NotificationType.Failure;
                    notification.Message = "Password Changed failed";
                }
            }
            else
            {
                notification.Type = Notification.NotificationType.Failure;
                notification.Message = "Confirm Password Doesn't Match";
            }        
            appState.SetNotification(this, notification);
        }
    }
    private async Task<bool> ValidatePassword(string password)
    {
        validationSummary = "";
        if (string.IsNullOrWhiteSpace(password))
        {
            validationSummary = "Password is required";
        }
        else if (password.Length < 8 || password.Length > 50)
        {
            validationSummary = "Password must be between 8 to 50 characters";
        }
        else if (!password.Any(char.IsLower))
        {
            validationSummary = "Password must contain at least one lowercase letter";
        }
        else if (!password.Any(char.IsUpper))
        {
            validationSummary = "Password must contain at least one uppercase letter";
        }
        else if (!password.Any(char.IsDigit))
        {
            validationSummary = "Password must contain at least one digit";
        }
        else if (!password.Any(c => !char.IsLetterOrDigit(c)))
        {
            validationSummary = "Password must contain at least one special character";
        }
        else
        {
            return true;
        }
        return false; 
    }
    private int GetPasswordStrength(string password)
    {
        int strength = 0;

        if (password.Length >= 8 && password.Length <= 50)
        {
            strength++;
        }
        if (password.Any(char.IsUpper) && password.Any(char.IsLower))
        {
            strength++;
        }            
        if (password.Any(char.IsDigit))
        {
            strength++;
        }
        if (password.Any(c => !char.IsLetterOrDigit(c)))
        {
            strength++;
        }

        return strength;
    }
    private string GetProgressColor(string password)
    {
        int progress = GetPasswordStrength(password) * 25;

        if (progress < 40)
        {
            return "bg-danger";
        }
        else if (progress >= 40 && progress < 60)
        {
            return "bg-warning";
        }
        else if (progress >= 60 && progress < 80)
        {
            return "bg-info";
        }
        else
        {
            return "bg-success";
        }
    }

}
