@page "/fileupload"
@inherits BasePageComponent
@using AxleLoadSystem.Models
@using BOL
@inject IWebHostEnvironment env
@inject IFileService fileService
@inject IStationService stationService

<PageTitle>Manual File Upload</PageTitle>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Manual File Upload</h3>
    </div>
    <div class="card-body">
        <CustomNotification Notification="notification"/>

        <EditForm EditContext="@editContext"  OnValidSubmit="@HandleValidSubmit" FormName="formFileUpload" method="post" enctype="multipart/form-data">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="StationId">ALCS</label>
                        <div class="input-group">
                            @if (stations is not null)
                            {
                                <InputSelect @bind-Value="@file.StationId" class="form-control" id="StationId">
                                    @foreach (Station item in stations)
                                    {
                                        <option value="@item.StationId">@item.StationName</option>
                                    }
                                </InputSelect>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="Date">Date</label>
                        <div class="input-group">
                            <InputDate class="form-control mb-4" @bind-Value="@file.Date" id="Date" max="@(DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd"))" />
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="type1">File Type</label>
                        <div class="input-group">
                            <div class="icheck-primary d-inline">
                                <input type="radio" name="file.FileType" id="type1" value="1" checked="@(file.FileType == (int)UploadedFileType.LoadData)" />
                                <label for="type1">Load Data </label>
                            </div>
                            <div class="icheck-primary d-inline">
                                <input type="radio" name="file.FileType" id="type2" value="2" checked="@(file.FileType == (int)UploadedFileType.FineData)" />
                                <label for="type2">Fine/Reinforcement Data</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="fileUploader">File input</label>
                        <div class="input-group">
                            <InputFile class="form-control" placeholder="Attachment" name="file.Attachments" accept=".csv" id="fileUploader"/>
                        </div>
                    </div>
                    
                </div>
                <button class="btn btn-primary" type="submit" disabled="@(!isFileSelected)">Submit</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm(FormName = "formFileUpload")]
    private FileUploadModel file { get; set; } = new FileUploadModel() { Date = DateTime.Today.AddDays(-1) };
    private IEnumerable<Station> stations { get; set; }
    private long maxFileSize = 5120000;
    private EditContext? editContext;
    private bool isFileSelected { get; set; } = true;
    private Notification notification { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        editContext = new(file);
        editContext.SetFieldCssClassProvider(new Helpers.CustomFieldClassProvider());

        stations = await stationService.Get();
    }

    private void FileSelected(InputFileChangeEventArgs e)
    {
        isFileSelected = true;
    }
    private async Task HandleValidSubmit()
    {
        if (await fileService.FileExists(file))
        {
            this.notification.Type = Notification.NotificationType.Warning;
            this.notification.Message = "File already uploaded";
            StateHasChanged();
            return;
        }

        try
        {
            foreach (var uploadfile in file.Attachments)
            {
                //string safeFileName = WebUtility.HtmlEncode(file.FileName);

                // Save file locally
                // var path = Path.Combine(env.ContentRootPath, "images", safeFileName);
                // await using FileStream fs = new(path, FileMode.Create);
                // await file.CopyToAsync(fs);

                // Save to byte
                await using MemoryStream ms = new MemoryStream();
                await uploadfile.CopyToAsync(ms);
                byte[] fileBytes = ms.ToArray();

                UploadedFile fileInfo = new();
                fileInfo = file;
                fileInfo.FileName = uploadfile.FileName;
                fileInfo.ManualUpload = true;

                await fileService.Upload(fileBytes, fileInfo);
            }

            this.notification.Type = Notification.NotificationType.Success;
            this.notification.Message = "File uploaded";
            StateHasChanged();
        }
        catch (Exception e)
        {
            this.notification.Type = Notification.NotificationType.Failure;
            this.notification.Message = "Error: " + e.Message;
            StateHasChanged();
        }
    }
}

