@using System
@using BOL
@using DSRSystem.Authentication
@inject ICustomerService customerService
@inject AuthenticationStateProvider authStateProvider
@inject IStringLocalizer<Locales.Resource> localizerResource
@inject IStringLocalizer<Locales.Reports> localizer

<PageTitleComponent Title="@localizer["ReportConfiguration.Customer"]"></PageTitleComponent>

@if (customer is null)
{
    <Loader/>
}
else
{
    <EditForm Model="@customer" OnValidSubmit=@OnValidSubmit OnInvalidSubmit="@OnInvalidSubmit">
        <DataAnnotationsValidator />
        <div class="card card-primary card-outline">
            <div class="card-body">
                <div class="row">                   
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="name" class="form-label">@localizer["customer.Name"]</label>
                                <label class="form-control">@customer.Name</label>
                            }
                            else
                            {
                                <label for="name" class="form-label">@localizer["customer.Name"]</label>
                                <input type="text" @bind="customer.Name" required class="form-control" placeholder="Name of customer" id="name" />
                                <ValidationMessage For="() => customer.Name" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="MeterNumber" class="form-label">@localizer["customer.MeterNumber"]</label>
                                <label class="form-control">@customer.MeterNumber</label>
                            }
                            else
                            {
                                <label for="MeterNumber" class="form-label">@localizer["customer.MeterNumber"]</label>
                                <input type="text" @bind="customer.MeterNumber" required class="form-control" placeholder="customer MeterNumber" id="MeterNumber" />
                                <ValidationMessage For="() => customer.MeterNumber" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="Email" class="form-label">@localizer["customer.Email"]</label>
                                <label class="form-control">@customer.Email</label>
                            }
                            else
                            {
                                <label for="Email" class="form-label">@localizer["customer.Email"]</label>
                                <input type="text" @bind="customer.Email" required class="form-control" placeholder="customer Email" id="Email" />
                                <ValidationMessage For="() => customer.Email" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="ContactNo" class="form-label">@localizer["customer.ContactNo"]</label>
                                <label class="form-control">@customer.ContactNo</label>
                            }
                            else
                            {
                                <label for="ContactNo" class="form-label">@localizer["customer.ContactNo"]</label>
                                <input type="text" @bind="customer.ContactNo" required class="form-control" placeholder="customer Contact No" id="ContactNo" />
                                <ValidationMessage For="() => customer.ContactNo" />
                            }
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="IsActive" class="form-label">@localizer["customer.IsActive"]</label>

                            @if (Mode == FormMode.Details)
                            {
                                <label class="form-control">@((customer.IsActive) ? "Yes" : "No")</label>
                            }
                            else
                            {
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="IsActive" @bind="customer.IsActive" />
                                    <label class="form-check-label" for="IsActive">@localizer["customer.IsActive"]</label>
                                </div>
                                <ValidationMessage For="() => customer.IsActive" />
                            }
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="IsApproved" class="form-label">@localizer["customer.IsApproved"]</label>

                            @if (Mode == FormMode.Details)
                            {
                                <label class="form-control">@((customer.IsApproved) ? "Yes" : "No")</label>
                            }
                            else
                            {
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="IsApproved" @bind="customer.IsApproved" />
                                    <label class="form-check-label" for="IsApproved">@localizer["customer.IsApproved"]</label>
                                </div>
                                <ValidationMessage For="() => customer.IsApproved" />
                            }
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <div class="col-md-4 col-sm-12 btn-group">
                    @if (Mode == FormMode.Details)
                    {
                        string editLink = "/customer/edit/" + customer.Id;
                        <NavLink class="btn btn-primary" href="@editLink">@localizerResource["Button.Edit"]</NavLink>
                    }
                    else
                    {
                        <button class="btn btn-primary" type="submit">@(Mode == FormMode.Add ? @localizerResource["Button.Save"] : @localizerResource["Button.Update"])</button>
                    }
                    <NavLink class="btn btn-primary" href="/customer">@localizerResource["Button.Back"]</NavLink>
                        @if (!string.IsNullOrEmpty(ValidationSummary))
                    {
                        <label class="error">@ValidationSummary</label>
                    }
                </div>
            </div>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public Customer customer { get; set; } = new();
    [Parameter]
    public FormMode Mode { get; set; } = FormMode.Details;
    private User currentUser { get; set; }
    private bool isSuccess { get; set; }
    string ValidationSummary;

    protected override async Task OnInitializedAsync()
    {
        var customStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        currentUser = await customStateProvider.GetAuthorizedUser();
    }

    void OnInvalidSubmit()
    {
        ValidationSummary = "Please enter valid data";
    }
    async Task OnValidSubmit(EditContext editContext)
    {
        ValidationSummary = "";

        if (Mode == FormMode.Edit)
        {
            await customerService.Updatecustomer(customer, currentUser);
            ValidationSummary = "Customer Updated Successfully";
        }
        else
        {
            isSuccess = await customerService.Insertcustomer(customer, currentUser);
            if (isSuccess)
            {
                ValidationSummary = "New customer added";
            }
            else
            {
                ValidationSummary = "New customer added failed";
            }
        }
    }
}
