@using System
@using BOL
@using Services
@inject IStationService stationService
@rendermode InteractiveServer
@inject IStringLocalizer<Locales.Resource> localizerResource
@inject IStringLocalizer<Locales.Station> localizer

<PageTitle>@localizer["StationList"]</PageTitle>
<h1>@localizer["StationList"]</h1>

<NavLink class="btn btn-primary pull-right" href="/station/new" title="Add New">
    <i class="fa fa-plus"></i> @localizerResource["Button.Add"]
</NavLink>
@if (stations is null)
{
    <Loader />
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@localizer["StationId"]</th>
                <th>@localizer["Code"]</th>
                <th>@localizer["Name"]</th>
                <th>@localizer["Address"]</th>
                <th>@localizer["AuthKey"]</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in stations.OrderBy(s => s.StationId))
            {
                <tr>
                    <td>@item.StationId</td>
                    <td><b>@item.StationCode</b></td>
                    <td>@item.StationName</td>
                    <td>@item.Address</td>
                    <td>@item.AuthKey</td>
                    <td>
                        <a class="waves-effect" href="@("/station/details/" + item.StationId)" title="Details Information">
                            <i class="fa fa-info"></i>
                        </a>
                    </td>
                    <td>
                        <a class="waves-effect" href="@("/station/edit/" + item.StationId)" title="Edit Information">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
@code {
    private IEnumerable<Station> stations;

    protected override async Task OnInitializedAsync()
    {
        stations = await stationService.Get();
    }
}
