@using Microsoft.AspNetCore.Components.QuickGrid

<div class="grid">
    @if (File.FileType == 1)
    {
        <QuickGrid Items="@AxleLoadData" Virtualize="true">
            <PropertyColumn Property="@(l => l.TransactionNumber)" Sortable="true" />
            <PropertyColumn Property="@(l => l.LaneNumber)" Sortable="true" />
            <PropertyColumn Property="@(l => l.DateTime)" Format="yyyy-MM-dd" Sortable="true" />
            <PropertyColumn Property="@(l => l.PlateZone)" Sortable="true" />
            <PropertyColumn Property="@(l => l.PlateSeries)" Sortable="true" />
            <PropertyColumn Property="@(l => l.PlateNumber)" Sortable="true" />
            <PropertyColumn Property="@(l => l.NumberOfAxle)" Sortable="true" />
            <PropertyColumn Property="@(l => l.VehicleSpeed)" Sortable="true" />
            <PropertyColumn Property="@(l => l.Axle1)" Sortable="true" />
            <PropertyColumn Property="@(l => l.Axle2)" Sortable="true" />
            <PropertyColumn Property="@(l => l.Axle3)" Sortable="true" />
            <PropertyColumn Property="@(l => l.Axle4)" Sortable="true" />
            <PropertyColumn Property="@(l => l.Axle5)" Sortable="true" />
            <PropertyColumn Property="@(l => l.Axle6)" Sortable="true" />
            <PropertyColumn Property="@(l => l.Axle7)" Sortable="true" />
            <PropertyColumn Property="@(l => l.AxleRemaining)" Sortable="true" />
            <PropertyColumn Property="@(l => l.GrossVehicleWeight)" Sortable="true" />
            <PropertyColumn Property="@(l => l.IsUnloaded)" Sortable="true" />
            <PropertyColumn Property="@(l => l.IsOverloaded)" Sortable="true" />
            <PropertyColumn Property="@(l => l.OverSizedModified)" Sortable="true" />
            <PropertyColumn Property="@(l => l.Wheelbase)" Sortable="true" />
            <PropertyColumn Property="@(l => l.ClassStatus)" Sortable="true" />
            <PropertyColumn Property="@(l => l.RecognizedBy)" Sortable="true" />
            <PropertyColumn Property="@(l => l.IsBRTAInclude)" Sortable="true" />
            <PropertyColumn Property="@(l => l.LadenWeight)" Sortable="true" />
            <PropertyColumn Property="@(l => l.UnladenWeight)" Sortable="true" />
            <PropertyColumn Property="@(l => l.ReceiptNumber)" Sortable="true" />
            <PropertyColumn Property="@(l => l.BillNumber)" Sortable="true" />
        </QuickGrid>
    }
    else
    {
        <QuickGrid Items="@FineRepaymentData" Virtualize='true'>
            <PropertyColumn Property="@(l => l.TransactionNumber)" Sortable="true" />
            <PropertyColumn Property="@(l => l.PaymentTransactionId)" Sortable="true" />
            <PropertyColumn Property="@(l => l.DateTime)" Format="yyyy-MM-dd" Sortable="true" />
            <PropertyColumn Property="@(l => l.IsPaid)" Sortable="true" />
            <PropertyColumn Property="@(l => l.FineAmount)" Sortable="true" />
            <PropertyColumn Property="@(l => l.PaymentMethod)" Sortable="true" />
            <PropertyColumn Property="@(l => l.ReceiptNumber)" Sortable="true" />
            <PropertyColumn Property="@(l => l.BillNumber)" Sortable="true" />
            <PropertyColumn Property="@(l => l.WarehouseCharge)" Sortable="true" />
            <PropertyColumn Property="@(l => l.DriversLicenseNumber)" Sortable="true" />
            <PropertyColumn Property="@(l => l.TransportAgencyInformation)" Sortable="true" />
        </QuickGrid>
    }
</div>

@code {
    [Parameter]
    public UploadedFile File { get; set; }
    [Parameter]
    public Station Station { get; set; }
    [Parameter]
    public IQueryable<LoadData> AxleLoadData { get; set; }
    [Parameter]
    public IQueryable<FinePayment> FineRepaymentData { get; set; }
}
