@using System
@using BOL
@inject ICategoryService CategoryService
@inject IStringLocalizer<Locales.Resource> localizerResource
@inject IStringLocalizer<Locales.CommonPages> localizer

<PageTitleComponent Title="@localizer["Tutorial.Category"]"></PageTitleComponent>

@if (Category is null)
{
    <Loader/>
}
else
{
    <EditForm Model="@Category" OnValidSubmit=@OnValidSubmit OnInvalidSubmit="@OnInvalidSubmit">
        <DataAnnotationsValidator />
        <div class="card card-primary card-outline">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            @if (Mode == FormMode.Details)
                            {
                                <label for="name" class="form-label">@localizer["Category.Name"]</label>
                                <label class="form-control">@Category.Name</label>
                            }
                            else
                            {
                                <label for="name" class="form-label">@localizer["Category.Name"]</label>
                                <input type="text" @bind="Category.Name" required class="form-control" placeholder="Name of Category" id="name" />
                                <ValidationMessage For="() => Category.Name" />
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="btn-group">
                            @if (Mode == FormMode.Details)
                            {
                                string editLink = "/Category/edit/" + Category.Id;
                                <NavLink class="btn btn-primary" href="@editLink">@localizerResource["Button.Edit"]</NavLink>
                            }
                            else
                            {
                                <button class="btn btn-primary" type="submit">@(Mode == FormMode.Add ? @localizerResource["Button.Save"] : @localizerResource["Button.Update"])</button>
                            }
                            <NavLink class="btn btn-primary" href="/Category">@localizerResource["Button.Cancel"]</NavLink>
                            @if (!string.IsNullOrEmpty(ValidationSummary))
                            {
                                <label class="error">@ValidationSummary</label>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public Category Category { get; set; } = new();
    [Parameter]
    public FormMode Mode { get; set; } = FormMode.Details;
    private IEnumerable<Category>? CategoryList;
    private bool isSuccess { get; set; }
    string ValidationSummary;

    protected override async Task OnInitializedAsync()
    {
        CategoryList = await CategoryService.GetCategoryList();
    }

    void OnInvalidSubmit()
    {
        ValidationSummary = "Please enter valid data";
    }
    async Task OnValidSubmit(EditContext editContext)
    {
        ValidationSummary = "";

        if (Mode == FormMode.Edit)
        {
            await CategoryService.UpdateCategory(Category);
            ValidationSummary = "Category Updated Successfully";

        }
        else
        {
            isSuccess = await CategoryService.InsertCategory(Category);
            if (isSuccess)
            {
                ValidationSummary = "New Category added";
            }
            else
            {
                ValidationSummary = "New Category added failed";
            }

        }
    }
}
