@page "/FAQ"
@inject IFAQService faqService;

<div class="card">
    <div class="card-header">
        <h3 class="card-title">FAQ - Frequently Asked Question</h3>
    </div>
    <div class="card-body" id="accordion">
        @if(faqs == null)
        {
            <Loader/>
        }
        else if(faqs.Count() == 0)
        {
            <p>No Data Found</p>
        }
        else
        {
            @foreach (FAQ faq in faqs.Where(f => f.IsPublished).OrderBy(f => f.DisplayOrder))
            {
                <div class="card card-primary card-outline">
                    <a class="d-block w-100 collapsed" data-toggle="collapse" href="@("#collapse" + @faq.Id)" aria-expanded="true">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                                @((MarkupString)faq.Question)
                            </h4>
                        </div>
                    </a>
                    <div id="@("collapse" + @faq.Id)" class="collapse" data-parent="#accordion" style="">
                        <div class="card-body">
                            @((MarkupString)faq.Answer)
                        </div>
                    </div>
                </div>
            }
        }
        
        @* <div class="card card-danger card-outline">
            <a class="d-block w-100" data-toggle="collapse" href="#collapseNine" aria-expanded="true">
                <div class="card-header">
                    <h4 class="card-title w-100">
                        9.  Quisque rutrum
                    </h4>
                </div>
            </a>
            <div id="collapseNine" class="collapse show" data-parent="#accordion" style="">
                <div class="card-body">
                    Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
                </div>
            </div>
        </div> *@
    </div>
</div>

@code {
    private IEnumerable<FAQ>? faqs { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        faqs = await faqService.GetFAQs();
    }
}
