@page "/FAQ/User"
@using Syncfusion.Blazor.RichTextEditor
@inject AuthenticationStateProvider authStateProvider
@inject IFAQService faqService
@inject IUserService userService
@inject IAppState appState
@inject ILiveNotificationState liveNotificationState
@inject IStringLocalizer<Locales.Resource> localizerResource
@inject IStringLocalizer<Locales.CommonPages> localizerCommon

<PageTitleComponent Title="@localizerCommon["FAQ.UserFAQ"]">
</PageTitleComponent>
<div class="card card-primary card-outline">

    @if (newQuestion is not null)
    {
        <div class="card-body">
            <EditForm EditContext="@editContext" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="col-12">
                    <label>@localizerCommon["FAQ.Question"]</label>
                    <SfRichTextEditor @bind-Value="@newQuestion.Question" @ref="@refQuestion" placeholder="Type your question here..." MaxLength="499">
                        <RichTextEditorToolbarSettings Items="@Tools" />
                    </SfRichTextEditor>
                    <ValidationMessage For="() => newQuestion.Question" />
                </div>
                <div class="col-4">
                    <div class="btn btn-group">
                        <button type="submit" class="btn btn-primary">@localizerCommon["FAQ.SubmitQuestion"]</button>
                        <NavLink class="btn btn-primary" href="/faq">@localizerResource["Button.Cancel"]</NavLink>
                    </div>
                </div>
            </EditForm>
            @if (!string.IsNullOrEmpty(validationSummary))
            {
                <label class="text-danger">@validationSummary</label>
            }
        </div>
    }
    <div class="card-header card-primary card-outline">
        <h3 class="card-title">@localizerCommon["FAQ.List"]</h3>
    </div>
  
    @if (faqs == null)
    {
        <Loader />
    }
    else if (faqs.Count() == 0)
    {
        <p>No Data Found</p>
    }
    else
    {
        <div class="card-body" id="accordion">
            @foreach (FAQ faq in faqs.OrderBy(f => f.AnswerUserId > 0).OrderByDescending(f => f.Id))
            {
                <div class="card @(!string.IsNullOrEmpty(faq.Answer) ? "card-primary" : "card-danger")  card-outline">
                    <a class="d-block w-100 collapsed" data-toggle="collapse" href="@("#collapse" + @faq.Id)" aria-expanded="true">
                        <div class="card-header">
                            <h4 class="card-title w-100">
                                @((MarkupString)faq.Question)
                                @if (string.IsNullOrEmpty(faq.Answer) && faq.QuestionUserId == currentUser.Id)
                                {
                                    <i class="fa fa-trash float-right" title="Delete FAQ Information" @onclick="@(() => Delete(faq))"></i>
                                    <i class="fa fa-edit float-right" title="Edit FAQ Information" style="margin-right: 10px;" @onclick="@(() => Edit(faq))"></i>
                                }
                            </h4>
                        </div>
                    </a>
                    <div id="@("collapse" + @faq.Id)" class="collapse" data-parent="#accordion" style="">
                        <div class="card-body">
                            @if (string.IsNullOrEmpty(faq.Answer))
                            {
                                <p class="info info-danger">No Answer</p>
                            }
                            else
                            {
                                @((MarkupString)faq.Answer)
                            }
                        </div>
                        <div class="card-footer">
                            <span style="margin-right: 10px;">Submitted on: @faq.EntryTime.ToString("dd MMM yy") </span>
                            @if (!string.IsNullOrEmpty(faq.Answer) && UserList is not null)
                            {
                                string userName = UserList.Where(u => u.Id == faq.AnswerUserId).FirstOrDefault()?.Name ?? "";
                                <span class="float-right">Answered by: @userName, @faq.AnswerDateTime?.ToString("dd MMM yy")</span>
                            }
                        </div>
                    </div>
                </div>
            }
        
        </div>
    }
</div>

<ConfirmDialog @ref="submitConfirmationQuestionRef" ModalName="Confirmation Modal" ConfirmationButtonText="Submit" ConfirmationChanged="SubmitConfirmedQuestion" OnClose="SubmitDeclined" ConfirmationMessage="Sure to Submit Question?" />
<ConfirmDialog @ref="deleteConfirmationQuestionRef" ModalName="Delete Modal" ConfirmationButtonText="Delete" ConfirmationChanged="DeleteConfirmedQuestion" OnClose="DeleteDeclined" ConfirmationMessage="Sure to Delete Question?" />

@code {
    private List<FAQ>? faqs { get; set; } = null;
    private User? currentUser { get; set; }
    private IEnumerable<User?> UserList { get; set; }
    private EditContext editContext = default!;
    private FAQ newQuestion { get; set; } = new();

    private SfRichTextEditor refQuestion { get; set; }
    private double lengthQuestion { get; set; }

    protected ConfirmDialog submitConfirmationQuestionRef { get; set; }
    protected ConfirmDialog deleteConfirmationQuestionRef { get; set; }
    private bool submitClicked { get; set; } = false;
    private bool deleteClicked { get; set; } = false;
    private string validationSummary { get; set; }
    private List<ToolbarItemModel> Tools = new List<ToolbarItemModel>()
    {
        new ToolbarItemModel() { Command = ToolbarCommand.Bold },
        new ToolbarItemModel() { Command = ToolbarCommand.Italic },
        new ToolbarItemModel() { Command = ToolbarCommand.Underline },
        new ToolbarItemModel() { Command = ToolbarCommand.FontName },
        new ToolbarItemModel() { Command = ToolbarCommand.FontSize },
        new ToolbarItemModel() { Command = ToolbarCommand.Separator },
        new ToolbarItemModel() { Command = ToolbarCommand.FontColor },
        new ToolbarItemModel() { Command = ToolbarCommand.BackgroundColor },
        new ToolbarItemModel() { Command = ToolbarCommand.Separator },
        new ToolbarItemModel() { Command = ToolbarCommand.Formats },
        new ToolbarItemModel() { Command = ToolbarCommand.Alignments },
        new ToolbarItemModel() { Command = ToolbarCommand.OrderedList },
        new ToolbarItemModel() { Command = ToolbarCommand.UnorderedList },
        new ToolbarItemModel() { Command = ToolbarCommand.Outdent },
        new ToolbarItemModel() { Command = ToolbarCommand.Indent },
        new ToolbarItemModel() { Command = ToolbarCommand.CreateTable },
        new ToolbarItemModel() { Command = ToolbarCommand.Separator },
        new ToolbarItemModel() { Command = ToolbarCommand.ClearFormat },
        new ToolbarItemModel() { Command = ToolbarCommand.Print },
        new ToolbarItemModel() { Command = ToolbarCommand.Separator },
        new ToolbarItemModel() { Command = ToolbarCommand.Undo },
        new ToolbarItemModel() { Command = ToolbarCommand.Redo }
    };

    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(newQuestion);
        var customStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        currentUser = await customStateProvider.GetAuthorizedUser();
        UserList = await userService.GetUsers();
        await this.LoadQuestions();
    }
    protected async Task LoadQuestions()
    {
        IEnumerable<FAQ> faqList = await faqService.GetByUser(currentUser);
        faqs = faqList.ToList();
    }
    private async Task OnValidSubmit(EditContext editContext)
    {
        newQuestion.QuestionUserId = currentUser.Id;
        lengthQuestion = await this.refQuestion.GetCharCountAsync();
        if (string.IsNullOrEmpty(newQuestion.Question) || lengthQuestion < 10)
        {
            validationSummary = "Question is mandatory with minimum 10 characters.";
            return;
        }
        submitClicked = true;
        validationSummary ="";
        await submitConfirmationQuestionRef.Show();

    }
    private void OnInvalidSubmit()
    {
        appState.SetNotification(this, "Please enter valid values", Notification.NotificationType.Failure);
    }
    private void Edit(FAQ faq)
    {
        newQuestion = faq;
    }
    private async Task SubmitConfirmedQuestion()
    {
        if (newQuestion.Id > 0)
        {
            if (await faqService.UpdateQuestion(newQuestion, currentUser))
            {
                newQuestion.Question = string.Empty;
                await this.LoadQuestions();

                appState.SetNotification(this, "Question updated", Notification.NotificationType.Success);
            }
            else
            {
                appState.SetNotification(this, "Question update failed", Notification.NotificationType.Failure);
            }
        }
        else
        {
            if (await faqService.InsertFAQ(newQuestion, currentUser))
            {
                newQuestion.Question = string.Empty;
                await this.LoadQuestions();

                appState.SetNotification(this, "Question submitted", Notification.NotificationType.Success);
            }
            else
            {
                appState.SetNotification(this, "Question submission failed", Notification.NotificationType.Failure);
            }
        }

        //Update FAQ Count
        int countNewFAQ = await faqService.GetUnansweredFAQCount();
        await liveNotificationState.SetFAQCount(countNewFAQ);
    }
    private void SubmitDeclined()
    {
        submitClicked = false;
    }
    private async Task Delete(FAQ faq)
    {
        newQuestion = faq;
        if (newQuestion.Answer is not null || newQuestion.AnswerUserId > 0)
        {
            validationSummary = "Question can not be deleted";
            return;
        }
        deleteClicked = true;
        await deleteConfirmationQuestionRef.Show();

    }
    private async Task DeleteConfirmedQuestion()
    {
        if (await faqService.DeleteFAQ(newQuestion, currentUser))
        {
            await this.LoadQuestions();
            appState.SetNotification(this, "Question deleted", Notification.NotificationType.Success);
        }
        else
        {
            appState.SetNotification(this, "Question delete failed", Notification.NotificationType.Failure);
        }
    }
    private void DeleteDeclined()
    {
        deleteClicked = false;
    }
}
