@page "/logmanagement"
@using BOL;
@using Microsoft.AspNetCore.Components.QuickGrid
@using Services;
@inject IUserActivityService userActivityService
@inject IUserService userService
@inject IStringLocalizer<Locales.CommonPages> localizer

<PageTitleComponent Title="@localizer["LogManagement.Title"]"></PageTitleComponent>

@if (userActivities != null)
{
    <div class="card card-primary card-outline">
        <div class="card-body">
        <QuickGrid Items="@userActivities" Virtualize='true'>
            <PropertyColumn Property="@(l => l.Id)" Sortable="true" />
            <PropertyColumn Property="@(l => l.DateTime)" Format="yyyy/MM/dd HH:mm:ss tt" Title="Date Time" Sortable="true" />
            <PropertyColumn Property="@(l => GetUserName(l.UserId))" Title="User Name" Sortable="true" />
            <PropertyColumn Property="@(l => l.Description)" Title="Description" Sortable="true" />
            <PropertyColumn Property="@(l => l.Activity)" Title="Activity" Sortable="true" />
        </QuickGrid>

        </div>
    </div>
}
else
{
    <Loader />
}

@code {
    public IQueryable<UserActivity> userActivities { get; set; }
    public IEnumerable<User> users { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IEnumerable<UserActivity> Logs = await userActivityService.GetUserActivities();
        userActivities = Logs.AsQueryable();
        users = await userService.GetUsers();
    }
    private string GetUserName(int userId)
    {
        var user = users.FirstOrDefault(u => u.Id == userId);
        return user != null ? user.Name : "Unknown";
    }

}
